- page_title 'Help'

.container
  .row
    .col.pt-3
      %h1.text-info.text-center Help

  .row
    .col.py-3.text-center
      %p.h3.font-weight-bold Getting Started

  .card
    #headingOne.card-header.text-center.border
      <strong>Setting Up Your User Account</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Completing Your Profile</strong>
        %p
          The first time you sign in to Social Health Online you will be prompted to update your User profile. If you want to change the profile information you provided at that time, click on the drop-down menu with your name and then click on "My Profile." Once you enter the "My Profile" page you may change all of your information and then your changes can be saved by clicking "Update."
        %p
          <strong>2. Establishing Your Personal Settings</strong>
        %p
          Your settings determine the way your non-profile information is controlled via Social Health Online. Your settings can be located by clicking on the drop-down menu with your name and then clicking on "My Settings." Once you enter the "My Settings" page you may change your settings by clicking on the check boxes. Your changes can be saved by clicking "Update."

  .card
    #headingTwo.card-header.text-center.border
      <strong>Sending Messages to Other Users</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Communicating With Other Users Via the Messages Page</strong>
        %p
          One method of sending messages to other Users requires you to first click on "Messages." After entering the "Messages" page, click on "Compose" to open a new message and type the name of the User(s) you wish to communicate with in the "Recipients" field. If you don't recall the name of the User(s) you're trying to reach, click on "Contacts" to open a new window that contains the list of User display names you have saved. Use this contact list as a reference to type the desired display name(s) into the "Recipients" field. Once you type the message you wish to send, click "Send Message" and your message will be delivered.
        %p
          <strong>2. Communicating With Other Users Via the Display Name Popovers</strong>
        %p
          To make it as easy as possible to communicate with other Users, many pages have interactive popovers that can be opened when a User display name is clicked (e.g., the "Community User Directory" page has popovers). These popovers allow you to look at another User's profile, send messages, and more. Generally, after a User display name is clicked and a popover appears, you may select "Send Message" to open a new window containing a new message that has the "Recipients" field with that display name placed inside of it. Once you type the message you wish to send, click "Send Message" and your message will be delivered.
  .card
    #headingThree.card-header.text-center.border
      <strong>Accessing Events Through Your Community</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. External Events Webpages</strong>
        %p
          Some Communities are managed by Member organizations that already maintain events calendars on other sites, so they may choose to provide a link to an external calendar so they don't have to maintain multiple redundant events calendars online. If the Community has such an external link, you can access it by clicking on "Visit Events Webpage."
        %p
          <strong>2. Community Events Calendars</strong>
        %p
          The main location for each Community's events posted in Social Health Online is their "Community Events Calendar" page. On this calendar you may find Public and/or Private events by clicking on specific days on the events calendar or by clicking on "list" for an itemized view of the events posted for any given month.
        %p
          <strong>3. Showcased Events</strong>
        %p
          If a Member organization wants to draw attention to a particularly important publicly-accessible Community social event then they will list the event under "Showcased Events."

  .card
    #headingFour.card-header.text-center.border
      <strong>Meeting Other Users</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-target" => "#collapseFour", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Community User Directories</strong>
        %p
          Whether you are interested in learning more about the Users who are hosted by the same Member organization as you, or you know your peers in your Community well and want to meet someone new elsewhere before a nearby social event is scheduled to occur, the primary place to meet someone who shares common interests with you is through each Community's "Community User Directory" page. Since a vital building block to any substantial in-person relationship is sharing common interests, the ability to sort through Users based off of this type of characteristic is given a priority over all other information.
        %p
          <strong>2. User Match</strong>
        %p
          To encourage the service's Users who are particularly eager to get out and build new relationships with other Users through activities, Users can elect to be listed in the "User Match" page with the check box options that are offered in each User's "My Profile" page. By choosing to participate in this feature, a User is indicating they're open to trying social events that match their interests and can be discovered by other Users by the city they reside in and their common interests.

  .card
    #headingFive.card-header.text-center.border
      <strong>How to Log Your Social Events and Qualify for Weekly Sweepstakes</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFive", "aria-expanded" => "true", "data-target" => "#collapseFive", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordion"}
      .card-body.border
        %p
          To log your social events and qualify for the weekly sweepstakes, click on "Social Tracker" and then click "Log Events." After you're on the "Log Events" page complete all of the fields and then click "Log."

  .card
    #headingSix.card-header.text-center.border
      <strong>Finding the Weekly Rewards Winners</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSix", "aria-expanded" => "true", "data-target" => "#collapseSix", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSix.collapse{"aria-labelledby" => "headingSix", "data-parent" => "#accordion"}
      .card-body.border
        %p
          To see if you have won a weekly sweepstakes after logging your social events, click on "Tools" and then click "Rewards Winners" to find the most recent sweepstakes' results.

  - if authenticated_user.manager?
    .row
      .col.pb-3.pt-1.text-center
        %p.h3.font-weight-bold Managers

    .card
      #headingSeven.card-header.text-center.border
        <strong>Setting Up Your Member Community</strong><br>
        %button.btn.btn-link{"aria-controls" => "collapseSeven", "aria-expanded" => "true", "data-target" => "#collapseSeven", "data-toggle" => "collapse"}
          %i.fas.fa-chevron-down
      #collapseSeven.collapse{"aria-labelledby" => "headingSeven", "data-parent" => "#accordion"}
        .card-body.border
          %p.text-center
            Coming Soon

    .card
      #headingEight.card-header.text-center.border
        <strong>Managing Your Users</strong><br>
        %button.btn.btn-link{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-target" => "#collapseEight", "data-toggle" => "collapse"}
          %i.fas.fa-chevron-down
      #collapseEight.collapse{"aria-labelledby" => "headingEight", "data-parent" => "#accordion"}
        .card-body.border
          %p.text-center
            Coming Soon

    .card
      #headingNine.card-header.text-center.border
        <strong>Managing Your Events</strong><br>
        %button.btn.btn-link{"aria-controls" => "collapseNine", "aria-expanded" => "true", "data-target" => "#collapseNine", "data-toggle" => "collapse"}
          %i.fas.fa-chevron-down
      #collapseNine.collapse{"aria-labelledby" => "headingNine", "data-parent" => "#accordion"}
        .card-body.border
          %p.text-center
            Coming Soon

.container
  .row
    .col.mb-3.text-center
      %p.text-center
        =link_to 'Support Request', service_support_path, class: 'btn btn-primary', style: 'border: 1px solid black'
