- page_title 'Help'

.container
  .row
    .col.pt-3
      %h1.text-info.text-center Help

  .row
    .col.py-3.text-center
      %p.h3.font-weight-bold Getting Started

  .card
    #headingOne.card-header.text-center.border
      <strong>Setting Up Your User Account</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Updating Your Profile</strong>
        %p
          The first time you sign in to Social Health Online you will be prompted to update your User profile. Afterwards, if you want to change the profile information you provided when you completed your account registration, click on the drop-down menu with your name and then click on "My Profile." Once you enter the "My Profile" page you may change your profile information and then the changes you make can be saved by clicking "Update."
        %p
          <strong>2. Establishing Your Personal Settings</strong>
        %p
          Your settings determine the way your non-profile information is controlled in Social Health Online. Your settings can be located by clicking on the drop-down menu with your name and then clicking on "My Settings." Once you enter the "My Settings" page you may change your settings by clicking on the check boxes. Your changes can be saved by clicking "Update."

  .card
    #headingTwo.card-header.text-center.border
      <strong>Sending Messages to Other Users</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Communicating With Other Users Via the Messages Page</strong>
        %p
          One method of sending messages to other Users requires you to first click on "Messages." After entering the "Messages" page, click on "Compose" to open a new message box and type the display name(s) of the User(s) you wish to communicate with in the "Recipients" field.
        %p
          If you don't recall the name of the User(s) you're trying to reach, click on "Contacts" to open a new window that contains the list of User display names you have saved after past social interactions. Use this contact list as a reference to type the desired display name(s) into the "Recipients" field. Once you type the message you wish to send, click "Send Message" and your message will be delivered.
        %p
          <strong>2. Communicating With Other Users Via the Display Name Popovers</strong>
        %p
          To make it as easy as possible to meet and communicate with other Users, many pages have interactive popovers that can be opened when a User avatar or a display name that is blue is clicked (e.g., the "Community User Directory" page has popovers). These popovers allow you to look at another User's profile, save Users' display names on your "My Contacts" page, and more.
        %p
          Generally, after a User display name is clicked and a popover appears, you may select "Send Message" to open a new window containing a new message box that has the "Recipients" field with that display name placed inside of it. Once you type the message you wish to send, click "Send Message" and your message will be delivered.
  .card
    #headingThree.card-header.text-center.border
      <strong>Accessing Events Through Your Community</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. External Events Webpages</strong>
        %p
          Some Communities are managed by Member organizations that already maintain events calendars on other sites, so they may choose to provide a link to an external calendar so they don't have to maintain multiple redundant events calendars online. If a Community has such an external link, you can access it by clicking on "Visit Events Webpage." Additionally, these Communities might also provide links to their social media pages on sites like Facebook and Twitter if they want to share valuable information that they have already posted elsewhere.
        %p
          <strong>2. Community Events Calendars</strong>
        %p
          The "Community Events Calendar" page of the Communities is the principal place to find both public and private social events posted in the service. If a Community posts events for Users, event details can be viewed by clicking on specific days on the events calendars or by clicking on the "list" button for an itemized view of the events that are posted for any given month.
        %p
          <strong>3. Showcased Events</strong>
        %p
          If a Member organization wants to draw attention to a particularly important publicly-accessible Community social event then they will list the event under "Showcased Events" on their Community's "Community Events Calendar" page.

  .card
    #headingFour.card-header.text-center.border
      <strong>Meeting Other Users</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-target" => "#collapseFour", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Community User Directories</strong>
        %p
          Whether you are interested in learning more about the Users who are hosted by the same Member organization as you, or you know your peers in your Community well already and want to meet someone new in another Community to coordinate a meet up at an upcoming social event, the primary place to meet someone who shares common interests with you is through each Community's "Community User Directory" page.
        %p
          Since a vital building block for any substantial relationship is sharing common interests, the ability to sort through Users based off of this type of characteristic is given a priority over all other User information in the service, including on the "Community User Directory" page with its User filter feature.
        %p
          <strong>2. User Match</strong>
        %p
          To support the service's Users who are particularly eager to build new relationships with others through social activities, Users can elect to be listed in the "User Match" page (which is accessible after clicking on the "Activities" button) with the check box options that are offered in each User's "My Profile" page. By choosing to participate in this feature, a User is indicating they're very open to trying events that match their interests and can be discovered by other Users through location-based searches.

  .card
    #headingFive.card-header.text-center.border
      <strong>How to Log Your Social Event Participation and Qualify for Weekly Sweepstakes</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFive", "aria-expanded" => "true", "data-target" => "#collapseFive", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordion"}
      .card-body.border
        %p
          To log your participation in social events and qualify for the weekly sweepstakes, click on "Social Tracker" and then click "Log Events." After you're on the "Log Events" page, complete all of the fields and then click "Log."

  .card
    #headingSix.card-header.text-center.border
      <strong>Finding the Weekly Rewards Winners</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSix", "aria-expanded" => "true", "data-target" => "#collapseSix", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSix.collapse{"aria-labelledby" => "headingSix", "data-parent" => "#accordion"}
      .card-body.border
        %p
          To see if you have won a weekly sweepstakes after logging your social events, click on "Tools" and then click "Rewards Winners" to find the most recent sweepstakes' results.

  .card
    #headingSeven.card-header.text-center.border
      <strong>Other Features that Promote Your Social Wellness</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSeven", "aria-expanded" => "true", "data-target" => "#collapseSeven", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSeven.collapse{"aria-labelledby" => "headingSeven", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>1. Affiliate Search</strong>
        %p
          Social wellness is a community-oriented concept, so Social Health has established an Affiliate program and collaborates with the organizations and businesses that people like to patronize in their cities and towns when they are looking for social activities to engage in.
        %p
          To incentivize and encourage the social wellness of all Users, Social Health's Affiliates provide links to information regarding the events they're hosting and special discounts for their products and services. Information about the Affiliates collaborating with Social Health can be found on the "Affiliate Search" page after clicking the "Activities" button.
        %p
          <strong>2. Event Links</strong>
        %p
          Not all Communities are managed by organizations with the resources that are needed to host events or provide their Users with up-to-date connections to local activities, but they still wish to provide their Users with social event opportunities. To assist these Communities and their Users, Social Health provides vetted location-specific links to Users on the "Event Links" page so they can easily discover interesting social activities.

  - if authenticated_user.manager?
    .row
      .col.pb-3.pt-1.text-center
        %p.h3.font-weight-bold Managers

    .card
      #headingEight.card-header.text-center.border
        <strong>Managing Your Users</strong><br>
        %button.btn.btn-link{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-target" => "#collapseEight", "data-toggle" => "collapse"}
          %i.fas.fa-chevron-down
      #collapseEight.collapse{"aria-labelledby" => "headingEight", "data-parent" => "#accordion"}
        .card-body.border
          %p
            <strong>1. Adding and Editing User Accounts</strong>
          %p
            Adding new Users to your Community is a very quick and simple process that starts when you click on the drop-down "Manage" button on your main Community page and then go to the "My Community Users" page via the "Community Users" button.
          %p
            After going to the "My Community Users" page, you should click the "Users" button and then select "Add Users." On the "Add Users" page you can place your future Users email addresses into the blank fields and then click "Send" to deliver User registration emails. The number of fields available for use will be dictated by your account's User service capacity. No other action is needed to onboard new Users after the emails are sent!
          %p
            If you want to edit a User's account to do things like grant one User the role of Manager or categorize several Users into a series of groups (e.g., one group of "Volunteers" and another of "Staff Members"), first click the ellipses button and then "Edit" on the "My Community Users" page. Once you're on the "Edit User" page you can make the desired adjustments to a User account and save them by clicking "Update."
          %p
            <strong>2. Exporting a User CSV</strong>
          %p
            Many organizations have a desire to track the level of participation of their Users in the service, so Social Health has included the ability to export a CSV file that shows the frequency of Users' logged events activity.
          %p
            To export this User data you should go to the "My Community Users" page via the "Manage" drop-down button on your main Community page. After going to this page, clicking the "Users" button will reveal the "Export User CSV" option. By clicking the "Export User CSV" button you will initiate the download of a file that can be opened in virtually any commonly used spreadsheet program, such as Microsoft Excel.

    .card
      #headingNine.card-header.text-center.border
        <strong>Managing Your Events</strong><br>
        %button.btn.btn-link{"aria-controls" => "collapseNine", "aria-expanded" => "true", "data-target" => "#collapseNine", "data-toggle" => "collapse"}
          %i.fas.fa-chevron-down
      #collapseNine.collapse{"aria-labelledby" => "headingNine", "data-parent" => "#accordion"}
        .card-body.border
          %p
            <strong>1. Adding and Editing Events</strong>
          %p
            You can add an event by clicking on the drop-down "Manage" button on your main Community page and then go to the "My Community Events" page via the "Community Events" button. After going to the "My Community Events" page, you should click the "Add Event" button. On the "Add Event" page you can insert all of your event information and then upload it for your Users by clicking on "Save."
          %p
            Be sure to use the appropriate designation for an event's access type if you want to control who can view a specific event's information. Public events are events that are accessible to all Users and private events are events that are only accessible to your Community's Users.
          %p
            <strong>2. External Calendars</strong>
          %p
            To keep you from having to maintain several redundant events calendars, Social Health has provided the ability for the Community Managers to link external sites to their Users.
          %p
            By going to your "My Community Profile" page via the "Community Profile" button under the "Manage" drop-down in your main Community page and then typing the applicable domain names into the "Events Webpage" field or one of the three social media link fields, you can link your Users to your organization's external sites.

.container
  .row
    .col.mb-3.text-center
      %p.text-center
        =link_to 'Support Request', service_support_path, class: 'btn btn-primary', style: 'border: 1px solid black'
