.container
  .row.pt-3
    .col
      %h1.brand-primary My Settings

  .row.my-3
    .col
      %h3.notification-title Messages

      = form_for authenticated_user, url: my_settings_path do |f|
        .row.mb-2
          .settings-box
            .col
              .form-group
                .form-check
                  = f.check_box :receive_email, class: 'form-check-input'
                  %label.form-check-label.pl-1(for="receive_email") Receive Email Notifications for Messages

        .row.justify-content-center.pt-1.pb-3
          = f.submit 'Save', class: 'btn btn-primary', data: { disable_with: 'Saving...' }
