- page_title 'My Settings'

.container
  .row.pt-3
    .col.text-center
      %h1.brand-primary My Settings

      = form_for authenticated_user, url: my_settings_path do |f|
        .row.mb-2
          .settings-box.pb-0{:style => "border-radius: 12px;"}
            .col
              .form-group
                .form-check
                  = f.check_box :receive_email, class: 'form-check-input'
                  %label.form-check-label.pl-1(for="receive_email") Disable Email Notifications for My Messages
            .col
              .form-group
                .form-check
                  = f.check_box :hide_info_on_leaderboard, class: 'form-check-input'
                  %label.form-check-label.pl-1(for="hide_info_on_leaderboard") Hide My Total Events Logged on Community Leaderboard

        .row.justify-content-center.pt-1.pb-3
          = f.submit 'Save', class: 'btn btn-primary', :style => 'border: 1px solid black;', data: { disable_with: 'Saving...' }
