<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>You have a new notification</h1>
    <blockquote>
      <p>
        Subject: <%= @notification.subject.html_safe? ? @notification.subject : strip_tags(@notification.subject) %><br>
        Notification: <%= raw @notification.body %>
      </p>
    </blockquote>
    <p>
      Visit <%= link_to root_url,root_url %> to check your messages.
    </p>
  </body>
</html>
