.container
  .row.pt-5
    .col
      %h2.brand-primary Dashboard

  .row.my-3
    .col
      %h3.notification-title Notifications
      #scroll-box
        - @notifications.each do |notification|
          .mb-3
            %h5= notification.title
            .notification-date= date_in_cst(notification.updated_at)
            .notification-text= simple_format(notification.body)
        %p= paginate @notifications
