- page_title 'Rewards Winners'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Rewards Winners

  .row.mb-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        %strong
          The winners of our sweepstakes are shown here, so visit this page regularly to see if you've been selected for a reward!

  .row.my-3
    .col
      %h3.notification-title
        %strong Sweepstakes Results
  - if @rewards.any?
    .row.text-center.mb-3
      .col-sm-4.offset-sm-4
        .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
          %table.table.align-items-center.text-center.table-hover.table-sm
            %thead.mdb-color.lighten-4
              %tr
                %th
                  Results
            %tbody.bg-white
              - @rewards.each do |reward|
                %tr
                  %td= link_to (reward.month), reward_details_path(reward), class: 'text-info'
                %tr.table-divider
          = paginate @rewards
  - else
    %p.text-muted.text-center
      %em No rewards results.
