.container
  .row.my-4
    .col-lg-6.ml-auto.mr-auto
      %h3.text-center
        %strong Reset Your Password
      .card{ :style => 'border: 2px solid black; border-radius: 12px;' }
        .card-body
          %p
            Enter your email address and we'll send you a link to reset your password.
          = form_with model: @user, url: [:password_resets], method: :post, local: true do
            .form-group
              %label(for='email') Email
              = email_field_tag :email, params[:email], autofocus: true, class: 'form-control', required: true
            = submit_tag 'Send Instructions', class: 'btn btn-primary btn-block', style: 'border: 1px solid black', data: { disable_with: 'Sending...' }
          %p.text-center.pt-3
            = link_to 'Back to Sign In', signin_path
