.container
  .row.mb-5
    .col-lg-6.ml-auto.mr-auto
      %h3.text-center.pt-3 Reset Your Password
      .card
        .card-body
          %p.text-muted
            Enter your email address and we'll send you a link to reset your password.
          = form_with model: @user, url: [:password_resets], method: :post, local: true do
            .form-group
              %label(for='email') Email
              = email_field_tag :email, params[:email], autofocus: true, class: 'form-control', required: true
            = submit_tag 'Send Instructions', class: 'btn btn-primary btn-block', data: { disable_with: 'Sending...' }
          %p.text-center.pt-3
            = link_to 'Back to Sign In', signin_path
