<%#= confirm_email_session_url(@user.confirm_token) %>
<p> Welcome to Social Health Online! </p>
<p>
Your account has been created and you may access the service now. You'll first need to reset your password. Click the link below to have reset instructions sent to your email address:
</p>
<%= link_to 'Reset password', new_password_reset_url(email: @user.email) %>
<p>
  Remember to always protect your login information so that your account remains secure.
</p>
<p>
  If you have any questions regarding this message, please contact your organization’s Social Health account manager.
</p>
  We're happy to have you join the service and look forward to providing you with an excellent experience!
</p>
