- page_title 'Media Center'

.container
  .row
    .col.pt-3.pb-2
      %h1.brand-primary.text-center Media Center

      %h3.text-center
        %strong Documents

  .row.mb-3.text-center
    .col
      %div.table-wrapper-2#events-feed{style: "border: 2px solid black; border-radius: 12px;"}
        %div.my-1
          %strong Sweepstakes
          %p.my-1
            %div
              %a{ href: 'https://drive.google.com/open?id=1xoebmHY0Suhfg7aiIY812AtF_0aZhOIo',
                title: 'Sweepstakes List and Rules',
                target: '_blank'}> Sweepstakes List and Rules

          %strong Administrative
          %p.my-1
            %div
              %a{ href: 'https://drive.google.com/open?id=1od5Nizc1KaCGO7BxUwWgGCLy2Q2uoBDl',
                title: 'User Discount Card',
                target: '_blank'}> User Discount Card
