- page_title 'Media Center'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Media Center

      %h3.text-center
        %strong Documents

  .row.mb-3.text-center
    .col
      %div{style: "border: 2px solid black; border-radius: 12px;"}
        %div.my-1
          %strong Sweepstakes
          %p.my-1
            %div
              %a{ href: 'https://drive.google.com/open?id=1xoebmHY0Suhfg7aiIY812AtF_0aZhOIo',
                title: 'Sweepstakes List and Rules',
                target: '_blank'}> Sweepstakes List and Rules
            %p.my-1
            %div
              %a{ href: 'https://docs.google.com/spreadsheets/d/1SVsL6mVQUe0VYYLA6ze4P_25k8cqy7icJdu9Fc16vWI/edit?usp=sharing',
                title: 'Sweepstakes Winners',
                target: '_blank'}> Sweepstakes Winners

          %strong Administrative
          %p.my-1
            %div
              %a{ href: 'https://drive.google.com/open?id=1od5Nizc1KaCGO7BxUwWgGCLy2Q2uoBDl',
                title: 'User Discount Card',
                target: '_blank'}> User Discount Card
