- page_title 'Media Center'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Media Center

      %h3.text-center
        %strong Documents

  .row.mb-3
    .col
      %ul.pb-2{style: "border: 2px solid black; border-radius: 12px;"}
        %li.my-1 Sweepstakes
        %li.my-1 Newsletters
        %li Administrative


