- page_title 'Media Center'

.container
  .row
    .col.py-3
      %h1.brand-primary.text-center Media Center

      %h3.text-center
        %strong Documents

  .row.mb-3.text-center
    .col
      %div.pb-2{style: "border: 2px solid black; border-radius: 12px;"}
        %div.my-1
          %strong Sweepstakes
        %div.my-1
          %strong Administrative
