.table-responsive
  %table.table.table-borderless.align-items-center
    %tbody
      - @receipts.each do |receipt|
        - message = receipt.message
        %tr.bg-white
          %th{:scope => "row"}
            %h4.media-heading
              = message.sender.name
              %br/
              %small
                %b Subject:
                = message.subject
              %br/
              %small
                %b Date:
                = message.created_at.strftime("%A, %b %d, %Y at %I:%M%p")
            = message.body
        %tr.table-divider
