- page_title 'My Favorites'

.container
  .row
    .col.py-3
      %h1.text-info.text-center My Favorites

  .row.mb-3
    .col
      %h3.notification-title
        %strong Communities
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px;"}
        %table.table
          %thead.mdb-color.lighten-4.text-center
            %tr
              %th Event Title
              %th Event Type
              %th Event Date/Time
              %th RSVP
          %tbody
            %tr.text-center.bg-white

            %tr.table-divider
