%p Social Health Online Event Suggestions

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Subject:</strong> Event Suggestions - Social Health Online


%p
  <strong>Message:</strong>
%p
  Test
