%p Social Health Online Guest User Invitation

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Message:</strong> I am inviting you to join me in a new app called Social Health Online. You can join as a Guest User by going to:
%p
  = link_to 'Guest User Registration', users_registration_url(@form_params[:email])
