%p Social Health Online Invitation Reminder

%p
  <strong>Name:</strong> #{@authenticated_user.name}

%p
  <strong>Email:</strong> #{@authenticated_user.email}

%p
  <strong>Message:</strong> This is a reminder that you recently received an email containing an invitation to become a User in Social Health Online. The email you received contains a link that will allow you to complete the User registration process. If you do not wish become a User, please notify me at the email address located above this message so that you can be removed from my pending User list.
