.container

  .d-flex.justify-content-center.flex-wrap.flex-md-nowrap.align-items-top.mt-3
    %h1.brand-primary= @announcement.title
  .row.text-center
    .col
      .announcements-date= time_in_cdt(@announcement.updated_at, '%m/%d/%Y')
  %p.border-top
    = simple_format(@announcement.body)

  .mb-3
    = link_to manage_announcements_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
