%p
  You have received this message as part of Social Health’s ACH payment verification process.
%p
  We would like to notify you that your payment has been received and your Member account has been activated!
%p
  We would also like to thank you again for choosing us to help make countless social lives more rewarding and look forward to providing you and your Users with an excellent experience!
