%p
  Our records show that your annual subscription will automatically renew in 45 days.
%p
  If you do not want to renew your subscription and wish to cancel your account, please contact us at #{mail_to 'support@socialhealthonline.com'}
