%p
  You have received this message as part of Social Health’s ACH payment verification process.
%p
  We would like to remind you to check your bank account for the presence of microdeposits from Social Health. If the deposits are present in your bank account, use the following link to provide confirmation to Social Health:
%p= link_to edit_ach_url, edit_ach_url
%p
  If the deposits are not showing in your bank account, please check again over the next 48 hours. If no deposits are showing in you bank account after 48 hours, contact your bank to verify that you are using the correct banking information and then provide an update to Social Health at #{mail_to 'support@socialhealthonline.com'}.
%p
  Contact us at your convenience to notify us of any other issues you experience related to your ACH payment by phone at 1-866-282-5789
  or by e-mail at #{mail_to 'support@socialhealthonline.com'}.
