- page_title 'My Achievements'

.container
  .row
    .col.py-3
      %h1.text-info.text-center My Achievements

  .row.mb-3
    .col
      %h3.notification-title
        %strong My Social Health
      %div.table-wrapper-2.py-2#events-feed{:style => "border-radius: 12px;"}
        %h5.notification-title Social Health Level
        %span.social-health-experience-level.bg-primary.text-white{:style => "border-radius: 12px;"}
          = @level
        %h5.notification-title.mt-2 Social Health Level Progress
        %span.social-health-experience-experience
          %div.progress{ :style => "border: 1px solid black;" }
            %div.progress-bar{"aria-valuemax" => "100","aria-valuemin" => "0",
                              "aria-valuenow" => "#{@progress}", :role => "progressbar", :style => "width:#{@progress}%"}
              ="#{@progress}%"
  .row.mb-3
    .col
      %h3.notification-title
        %strong My Merit Badges
      .py-2.px-2.badges-box{:style => "border-radius: 12px; overflow-x:hidden;"}
        .row-justify-content-center
          %p
          - if @social_event_Logs.size < 1
            %p.text-muted.text-center.mb-2
              %em No merit badges.
        .row
          - if @social_event_Logs.size > 0
            .card.pricing.card.my-2.col-4.px-1
              .card-header-badges.pt-3.text-center
                %strong First Timer
              .card-body.brand-primary.px-2
                %i.fas.fa-award.fa-3x
              .card-footer-badges.pb-3.text-center
                You logged your first event.
          - if @social_event_Logs.size > 9
            .card.pricing.card.my-2.col-4.px-1
              .card-header-badges.pt-3.text-center
                %strong Next Level
              .card-body.brand-primary.px-2
                %i.fas.fa-arrow-up.fa-3x
              .card-footer-badges.pb-3.text-center
                You leveled up by logging 10 events.
          - if @social_event_Logs.size > 19
            .card.pricing.card.my-2.col-4.px-1
              .card-header-badges.pt-3.text-center
                %strong Second Base
              .card-body.brand-primary.px-2
                %i.fas.fa-baseball-ball.fa-3x
              .card-footer-badges.pb-3.text-center
                You leveled up by logging 20 events.
