.container
  .row
    .col.py-3
      .row.justify-content-center.text-center
        .col-12.mb-3
          %h1.text-info=@user.name
        

        .row
          .col-sm-4.offset-sm-4
          - if @social_event_logs.any?
            .table-responsive
              %table.table.align-items-center.text-center.table-hover.table-sm
                %thead
                  %tr
                    %th
                      %strong Log Date
                    %th
                      %strong Event Date
                %tbody
                  - @social_event_logs.each do |log|
                    %tr.bg-white
                      %td= short_date(log.created_at)
                      %td= short_date(log.event_date)
                    %tr.table-divider
              = paginate @social_event_logs
          - else
            %p.text-muted.my-4
              %em No social event logs were found.

      %p.py-3
        = link_to manage_social_tracker_users_path, class: 'btn btn-outline-primary' do
          %i.fas.fa-arrow-left
          Back
