.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
  %h1.h3.brand-primary Edit Member

= form_with model: @member, url: console_member_path(@member.id), local: true do |f|
  = render 'form', f: f
