%p Social Health Online Contact Submission

%p
  <strong>Name:</strong> #{@form_params[:name]}
%p
  <strong>Email:</strong> #{@form_params[:email]}
%p
  <strong>Message:</strong> #{@form_params[:message]}
