- page_title 'Fitness History'

.container
  .row
    .col.pt-3.pb-2
      %h1.text-info.text-center Fitness History
      %p.text-center.p-2{style: "border: 1px solid black;"}
        %strong
          Review your logged fitness entries below to ensure you're nurturing all aspects of your social wellness.

      %h3.text-center
        %strong Fitness Entries

  .row.text-center.mb-3
    .col-sm-4.offset-sm-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.align-items-center.text-center.table-hover.table-sm
          %thead.row-borderless
            %tr
              %th
                Log Date
          %tbody.bg-white
            - @social_fitness_logs.each do |log|
              %tr
                %td.font-weight-bold= link_to short_date(log.created_at), social_fitness_path(log), class: 'text-info'
              %tr.table-divider
        = paginate @social_fitness_logs
        - if @social_fitness_logs.none?
          %p.text-muted.text-center.mb-3
            %em No social fitness entries have been logged.
