- page_title 'Fitness Plans'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Fitness Plans

  .row.mb-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        %strong
          Building the strength of your relationships through social exercise is important.
          While every person is unique, and we all need to exercise
          different aspects of our social lives, this fitness plan acts as a general
          guide with weekly social targets for improving your wellness with others.

  .row.my-3
    .col
      %div.table-wrapper-2.table-hover#events-feed{:style => "border-radius: 12px; width: 75%;"}
        %table.table.text-center
          %thead.mdb-color.lighten-4
            %tr
              %th Monthly Plan
          %tbody
          - @targets.each do |target|
            %tr.bg-white
              %td= link_to target.month, social_fitness_path(target)
            %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @targets unless @targets.empty?
