- page_title 'Fitness Plans'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Fitness Plans

  .row.mb-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        %strong
          Building the strength of your relationships through social exercise is important.
          These fitness plans act as general guides with weekly social targets for improving
          your wellness with others.

  .row.text-center.mb-3
    .col-sm-4.offset-sm-4
      .table-responsive{ :style => 'border: 2px solid black; border-radius: 12px;' }
        %table.table.align-items-center.text-center.table-hover.table-sm
          %thead.mdb-color.lighten-4
            %tr
              %th Monthly Plans
          %tbody
          - @targets.each do |target|
            %tr.bg-white
              %td= link_to target.month, social_fitness_plan_details_path(target)
            %tr.table-divider
        %div.container.pagination.justify-content-center
          %p= paginate @targets
          - if @targets.none?
            %p.pb-3.text-muted.text-center
              %em No fitness plans were found.
