- page_title 'Fitness Plan'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Fitness Plan

  .row.mb-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        %strong
          Building the strength of your relationships through social exercise is important.
          While every person is unique, and we all need to exercise
          different aspects of our social lives, this fitness plan acts as a general
          guide with weekly social targets for improving your relationships.

  .row
    .col
      %h3.text-center
        %strong July 2018

  .row
    .col.my-3
      %div.pb-2{style: "border: 2px solid black; border-radius: 12px;"}
        %div.mt-2
          %strong Week One (July 1st - July 8th)
        Social Target: Go see a fireworks show.
        %div.mt-2
          %strong Week Two (July 9th - July 15th)
        Social Target: Beat the heat. Get some ice cream with a friend.
        %div.mt-2
          %strong Week Three (July 16th - July 22th)
        Social Target: Go see a summer blockbuster.
        %div.mt-2
          %strong Week Four (July 23th - 29th)
        Social Target: Update your summer reading list and join a book club.
