- page_title 'Fitness Plan'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Fitness Plan

  .row.pt-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        Building the strength of your relationships through social exercise is important.
        While every person is unique, and we all need to exercise
        difference aspects of our social lives, this monthly fitness plan can act as a general
        guide with suggestions to use for improving your relationships.

