- page_title 'Resources'

.container
  .row.py-3
    .col
      %h1.text-info.text-center Resources

  .row.mb-3
    .col
      %p.text-center.p-2{style: "border: 1px solid black;"}
        Below you will find articles and websites containing information
        about how to support social wellness.
        
  .row      
    .col
      %h3.text-center
        %strong Articles

  .row.my-3
    .col
      %ul.py-2{style: "border: 1px solid black; border-radius: 12px;"}
        %li July 2018
  .row
    .col
      %h3.text-center
        %strong Websites

  .row.my-3
    .col
      %ul.py-2{style: "border: 1px solid black; border-radius: 12px;"}        
        %li 
