/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr/dist/flatpickr.min
 *= require fullcalendar
 *= require footable.standalone
 *= require select2
 *= require select2-bootstrap
 */

@import "wingman/bootstrap/functions";
@import "wingman/bootstrap/variables";
@import "wingman/custom/variables";
@import "variables";
@import "font-awesome";
@import "bootstrap";
@import "wingman/custom/components";

@font-face {
  font-family:'Entypo';
  src:url(font-path('entypo.eot'));
  src:url(font-path('entypo.eot?#iefix')) format('embedded-opentype'), url(font-path('entypo.woff2')) format('woff2'), url(font-path('entypo.woff')) format('woff'), url(font-path('entypo.ttf')) format('truetype'), url(font-path('entypo.svg')) format('svg')
}

table.table-wrapper-2.table-hover > tbody > tr:hover {
  background-color: #bee5eb;
}

table.footable.table-hover > tbody > tr:hover {
  background-color: #bee5eb;
}

table.footable > tbody > tr > td, table.footable > tbody > tr > th {
  display: table-cell;
}

.brand-primary {
  color: $brand-primary;
}

#social-tracker-history-table{
  width:100%;
  thead{
    margin-bottom: 20px;
    font-weight: bold;
  }
}

#main-nav .navbar-nav .nav-link {
  font-size: 1.2em;
}

#hero {
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.25)), image-url('hero.jpg') no-repeat;
  color: #eee;
  display: flex;
  justify-content: center; // horizontal centering
  align-items: center; // vertical centering
}

.footer {
  padding-top: 1em;
}

#social-links {
  list-style-type: none;
}

#social-links li {
  display: inline;
  margin-bottom: 24px;
  margin-right: 12px;
}

#social-links li:last-child {
  margin-right: 0;
}

#social-links a:hover {
  text-decoration: none;
}

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 86px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 1.1em;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover {
  color: $brand-primary;
}

.sidebar .nav-item:hover {
  background-color: darken(#f8f9fa, 5%);
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.page-link {
  color: #17a2b8;
}

.page-link:hover {
  color: #17a2b8;
}

.our-services li {
  padding-bottom: 0.5em;
}

@include media-breakpoint-down(sm) {
  .footer-short .col-md-4 {
    padding-bottom: 1em;
  }
}


/// AFFLILIATE LOCATOR
#affiliate-locator-map{
  margin-top: 20px;
  width: 100%;
  height: 550px;
}

#affiliate-locator-table-container{
  display: block;
  overflow: scroll;
  max-height: 300px;
}

@media (max-width: 767.98px) {
  #city-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #state-input{
    margin-bottom: 20px;
  }

  #affiliate-filter-btn-group{
    margin-left: 0px;
    margin-right: 0px;
  }

  #zip-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }


/// MEMBER LOCATOR
#member-locator-map{
  margin-top: 20px;
  width: 100%;
  height: 550px;
}

#member-locator-table-container{
  display: block;
  overflow: scroll;
  max-height: 300px;
}

#member-locator-table > tr{
  cursor: pointer;
}



@media (max-width: 767.98px) {
  #city-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #state-input{
    margin-bottom: 20px;
  }

  #member-filter-btn-group{
    margin-left: 0px;
    margin-right: 0px;
  }

  #zip-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }

#scroll-box {
  height: 265px;
  overflow: auto;
  margin: auto;
  width: 75%;
  border: 2px solid black;
  padding: 24px;
}

.settings-box {
  overflow: auto;
  margin: auto;
  width: 75%;
  border: 2px solid black;
  padding: 15px;
}

.notification-title {
  text-align: center;
}

#scroll-box h5 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.175rem;
}

#scroll-box > div.mb-3 {
  margin-bottom: 10px !important;
}

#scroll-box div.notification-date {
  font-size: 12px;
  color: #6c757d;
}

#scroll-box div.notification-text {
    font-size: 13px;
    word-wrap: break-word;
}

.geochart {
  margin: auto;
  width: 100%;
}

#conversation-form label {
  font-weight: 500;
}

.inside-message{
  border-collapse: separate;
}

.inside-message tr.bg-white > th {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  border-collapse: separate;
}

.messages-box tr.bg-white > th {
  font-size: 14px;
}

.messages-box tr.bg-white > th b {
  font-weight: 500;
}

.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field{
  font-size: 1rem;
}
.table-wrapper-2 {
  border: 2px solid black;
  display: block;
  margin: auto;
  max-height: 265px;
  width: 55%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#events-feed {
  width: 75% !important;
  margin: auto;
}

@media (min-width: 576px) {
  .form-group {
    margin-bottom: 1rem !important;
  }
}

.find_by_city {
  text-align: center;
}

.find_by_zip {
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

#community-profile-modal strong{
  font-weight: 500;
}

.btn-export {
  margin-right: 5px;
}

#scroll-box-announcements {
  height: 265px;
  overflow: auto;
  width: 100%;
  padding: 24px;
  position: relative;
  bottom: 50px;
}

#scroll-box-announcements h5 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.175rem;
}

#scroll-box-announcements > div.mb-3 {
  margin-bottom: 10px !important;
}

#scroll-box-announcements div.announcements-date {
  font-size: 12px;
  color: #6c757d;
}

#scroll-box-announcements div.announcements-text {
  font-size: 13px;
  word-wrap: break-word;
}

.events-legend-container {
  margin-top: -50px;
}

.event-legend-scroll {
  height: 200px !important;
  width: 100% !important;
}

.member-list-table {
  font-size: 12px;
}

#scroll-box-users {
  height: 500px;
  overflow: auto;
  padding: 24px;
  border: 1px solid black;
  bottom: 50px;
}

#my-users-title {
  margin-left: 10px;
}

.new_manage_user_button {
  margin-left: 10px;
}

.social-health-experience-level{
  display: block;
  margin: auto;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.social-health-experience-experience{
  display: block;
  margin: auto;
  width: 75%;
  text-align: center;
}

.gm-style-iw {
 width: auto !important;
 top: 15 !important;
 left: 15 !important;
 right: 15 !important;
 word-wrap: break-word;
}

.sign-in-button {
  margin-top: 8px;
}

.under_label_text {
   font-size: 10px !important;
}

#member_plan{
  height: 36px;
}

.StripeElement {
  background-color: white;
  height: 34px;
  padding: 6px 12px;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
