/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require flatpickr/dist/flatpickr.min
 *= require font-awesome
 *= require fullcalendar
 *= require footable.standalone
 *= require chosen
 */

@import "wingman/bootstrap/functions";
@import "wingman/bootstrap/variables";
@import "wingman/custom/variables";
@import "variables";
@import "bootstrap";
@import "wingman/custom/components";

@font-face {
  font-family:'Entypo';
  src:url(font-path('entypo.eot'));
  src:url(font-path('entypo.eot?#iefix')) format('embedded-opentype'), url(font-path('entypo.woff2')) format('woff2'), url(font-path('entypo.woff')) format('woff'), url(font-path('entypo.ttf')) format('truetype'), url(font-path('entypo.svg')) format('svg')
}

table.table-wrapper-2.table-hover > tbody > tr:hover {
  background-color: #bee5eb;
}

table.footable.table-hover > tbody > tr:hover {
  background-color: #bee5eb;
}

table.footable > tbody > tr > td, table.footable > tbody > tr > th {
  display: table-cell;
}

body {
  // padding-top: 66px;
}

.brand-primary {
  color: $brand-primary;
}

#social-tracker-history-table{
  width:100%;
  thead{
    margin-bottom: 20px;
    font-weight: bold;
  }
}

// #main-nav {
//   box-shadow: 0 2px 4px rgba(0,0,0,0.24);
// }

#main-nav .navbar-nav .nav-link {
  // color: $brand-primary;
  // &:hover {
  //   color: darken( $brand-primary, 15% )
  // }
  font-size: 1.2em;
}

// #main-nav .navbar-nav .active > .nav-link {
//   color: darken( $brand-primary, 15% )
// }

#hero {
  height: 500px;
  background: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.25)), image-url('hero.jpg') no-repeat;
  color: #eee;
  display: flex;
  justify-content: center; // horizontal centering
  align-items: center; // vertical centering
}

.footer {
  padding-top: 1em;
}

#social-links {
  list-style-type: none;
}

#social-links li {
  display: inline;
  margin-bottom: 24px;  
  margin-right: 12px;
}

#social-links li:last-child {
  margin-right: 0;
}

#social-links a:hover {
  text-decoration: none;
}

.border-bottom { border-bottom: 1px solid #e5e5e5; }

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 86px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-size: 1.1em;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover {
  color: $brand-primary;
}

.sidebar .nav-item:hover {
  background-color: darken(#f8f9fa, 5%);
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.page-link {
  color: #17a2b8;
}

.page-link:hover {
  color: #17a2b8;
}

.our-services li {
  padding-bottom: 0.5em;
}

@include media-breakpoint-down(sm) {
  .footer-short .col-md-4 {
    padding-bottom: 1em;
  }
}


/// AFFLILIATE LOCATOR
#affiliate-locator-map{
  margin-top: 20px;
  width: 100%;
  height: 550px;
}

#affiliate-locator-table-container{
  display: block;
  overflow: scroll;
  max-height: 300px;
}

@media (max-width: 767.98px) { 
  #city-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #state-input{
    margin-bottom: 20px;
  }

  #affiliate-filter-btn-group{
    margin-left: 0px;
    margin-right: 0px;
  }

  #zip-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }

 
/// MEMBER LOCATOR
#member-locator-map{
  margin-top: 20px;
  width: 100%;
  height: 550px;
}

#member-locator-table-container{
  display: block;
  overflow: scroll;
  max-height: 300px;
}

#member-locator-table > tr{
  cursor: pointer;
}



@media (max-width: 767.98px) { 
  #city-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #state-input{
    margin-bottom: 20px;
  }

  #member-filter-btn-group{
    margin-left: 0px;
    margin-right: 0px;
  }

  #zip-input{
    margin-top: 20px;
    margin-bottom: 20px;
  }
 }

#scroll-box {
  height: 265px;
  overflow: auto;
  margin: auto;
  width: 75%;
  border: 2px solid black;
  padding: 10px;
}

.notification-title {
  text-align: center;
}

#scroll-box h5 {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.175rem;
}

#scroll-box > div.mb-3 {
  margin-bottom: 10px !important;
}

#scroll-box div.notification-date {
  font-size: 12px;
  color: #6c757d;
}

#scroll-box div.notification-text {
    font-size: 13px;
    word-wrap: break-word;
}

.geochart {
  margin: auto;
  width: 100%;
}

#conversation-form label {
  font-weight: 500;
}

.inside-message{
  border-collapse: separate;
}

.inside-message tr.bg-white > th {
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  border-collapse: separate;
}

.messages-box tr.bg-white > th {
  font-size: 14px;
}

.messages-box tr.bg-white > th b {
  font-weight: 500;
}

.chosen-container-multi .chosen-choices{
  background-image: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 5px 16px 5px 12px;
}

#conversation_recipients_chosen > ul > li > input{
  color: #aeb3bd;
}
.table-wrapper-2 {
  border: 2px solid black;
  display: block;
  max-height: 200px;
  width: 55%;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

#events-feed {
  width: 75% !important;
  margin: auto;
}

@media (min-width: 576px) {
  .form-group {
    margin-bottom: 1rem !important;
  }
}

#explore_communities_city {
  text-align: center;
}

#explore_communities_zip {
  text-align: center;
}
