%footer.bg-white.footer-short.border-top
  .container
    .row.pt-2.justify-content-center
      = link_to home_path do
        %i.fas.fa-home.fa-2x.pt-2{:title => 'Home'}
      %span.px-3
      =link_to mailbox_inbox_path do
        %i.fas.fa-envelope.fa-2x.pt-2{:title => 'Messages'}
      %span.px-3  
      =link_to my_community_path do
        %i.fas.fa-building.fa-2x.pt-2{:title => 'My Community'}
      %span.px-3  
      =link_to social_tracker_log_path do
        %i.fas.fa-database.fa-2x.pt-2{:title => 'Log Events'}

      

