- page_title 'Event Suggestions'

.container
  .row
    .col.py-3
      %h1.text-info.text-center Event Suggestions

  %p.py-3
    = link_to my_community_path, class: 'btn btn-outline-primary', style: 'border: 1px solid black;' do
      %i.fas.fa-arrow-left
      Back
