%p New Social Health Online Issue(s) Submission

%p
  <strong>Name:</strong> #{@authenticated_user.name}
%p
  <strong>Email:</strong> #{@authenticated_user.name}
%p
  <strong>Message:</strong>
%p
  = @form_params[:message]
