/ The Modal
#myModal.modal
  .modal-dialog
    .modal-content
      / Modal Header
      .modal-header
        %h4.modal-title=user.display_name
        %button.close{ "data-dismiss" => "modal", type: "button" } ×
      / Modal body
      .modal-body
        %p=user.name if user.hidden_field.name
        %p=user.email if user.hidden_field.email
        %p=user.phone if user.hidden_field.phone
        %p=user.address if user.hidden_field.address
        %p=user.city if user.hidden_field.city
        %p=user.state if user.hidden_field.state
        %p=user.zip if user.hidden_field.zip
        %p=user.time_zone if user.hidden_field.time_zone
        %p=user.birthdate if user.hidden_field.birthdate
        %p=user.gender if user.hidden_field.gender
        %p=user.ethnicity if user.hidden_field.ethnicity
      / Modal footer
      .modal-footer
        %button.btn.btn-danger{ "data-dismiss" => "modal", type: "button" } Close