.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %h1.h3.brand-primary Console
  %div

.container
  .row
    .col-md-8.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 Total Affiliates
          %span.display-3
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 Total Members
          %span.display-3 
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 Total Users
          %span.display-3 

