- page_title 'Console'

.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.pb-3
  %h1.h3.brand-primary Console
  %div

.container
  .row.justify-content-center
    .col-md-6.col-lg-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h5 Total Affiliates
          %span.font-weight-bold.display-5
            #{ Affiliate.all.count }
    .col-md-6.col-lg-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h5 Total Members
          %span.font-weight-bold.display-5
            #{ Member.where.not(public_member: true).count }
  .row.justify-content-center
    .col-md-6.col-lg-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h5 Total Communities
          %span.font-weight-bold.display-5
            #{ Member.all.count }
    .col-md-6.col-lg-4
      .card.pricing.card-md
        .card-body{ :style => "border: 2px solid black; border-radius: 12px;" }
          %h5 Total Users
          %span.font-weight-bold.display-5
            #{ User.all.count }
