.d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-top.mb-3.border-bottom
  %h1.h3.brand-primary Console
  %div

.container
  .row
    .col-md-8.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 Total Affiliates
          %span.display-4
            #{ Affiliate.all.count }
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 Total Members
          %span.display-4
            #{ Member.all.count }
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 Total Users
          %span.display-4          
            #{ User.all.count }

