- page_title 'About Us'

.container
  .row
    .col.py-5
      %h2.text-info About Us

      %p.h5 What is Social Health?
      %p
        At Social Health, we believe everybody deserves deep and meaningful relationships with others
        because companionship and socializing are essential parts of a healthy life.

      %p
        Unfortunately, in recent years we have observed a sharp rise in social isolation and loneliness
        in our society. These are substantial problems defined by people's disconnection from others
        and they lead to worsened health. This troubling development has affected countless individuals
        and communities, and, today, almost everyone knows a person impacted by it, even if they don't
        realize it.

      %p
        We see this problematic trend as a call to action for societal change, so we have created a
        fun, collaborative solution for all people to use, Social Health Online. With Social Health
        Online, we deliver a social wellness service that rewards those who pursue greater social
        event participation because of the health benefits that occur when people build relationships.

      %blockquote.blockquote
        %p.h4.text-info "...we deliver a social wellness service that rewards those who pursue greater social event participation..."

      %p.h5 How Social Health Online Works

      %p
        Social Health Online rewards its Users when they participate in social events, which includes
        virtually all in-person activities between two or more people. A network of Members provides
        support to the service by hosting User accounts. Our Affiliates contribute by sharing their
        social event information. The service gamifies socializing to motivate Users to meet with other
        people, so rewards for engaging in social events are provided in many forms, including a Social
        Health Rank and sweepstakes prizes.

      %p
        To acquire rewards with Social Health Online, Users must participate in social events that
        they either discover through the service or on their own and then log their participation in
        their Social Tracker. As the Users' logged social event tallies increase, they receive recognition
        for their efforts and are automatically entered into sweepstakes.
