.container
  .row
    .col.py-5
      %h2.brand-primary About Us

      %p.h4 What is Social Health?
      %p
        At Social Health, we believe everybody deserves deep and meaningful relationships with others
        because companionship and socializing are essential parts of a healthy life. Unfortunately,
        we have observed a sharp rise in social isolation and loneliness, and an accompanying reduction
        in wellness, in recent years. This development has affected countless people and communities,
        and, today, almost everyone knows a person impacted by these problems, even if they don't realize
        it. We see this problematic trend as a call to action for societal change, so we have created
        a fun, collaborative solution for all people to use and benefit from, Social Health Online.
      %p
        With Social Health Online, we deliver an internet-based social wellness service that brings
        people and organizations together in ways that are simple in design and practice, yet powerful
        enough to cultivate considerable, long-lasting benefits. Our service incentivizes and rewards
        people who pursue greater social event participation because of the positive impact the building
        of relationships has on their wellness.
      %p
        By incentivizing our Customers and Affiliates, the organizations that partner with us to support
        our service, and Users, the primary beneficiaries of our service, with rewards, such as sweepstakes
        prizes, when they establish and participate in offline "social events," which comprises virtually
        all lawful activities involving live interactions between two or more people, we can prevent
        and beat social isolation and loneliness by fostering more rewarding social lives together.
      
      %p.h4 How Social Health Online Works
      %p
       Social Health Online is a service that rewards Users when they participate in social events because of the wellness benefits that occur when people develop and maintain relationships. The service gamifies socializing to motivate Users to meet with other people, so rewards for engaging in social events are provided in many forms, including a Social Health Rank and sweepstakes prizes.
       %p
       To acquire rewards with Social Health Online, Users must participate in a social event that they discover through the service or on their own, and then log their participation in their Social Tracker. As the Users’ logged social event tallies increase, they receive recognition for their efforts and are automatically entered into sweepstakes.    
      
