.container
  .row
    .col.py-5
      %h2.brand-primary About Us

      %p.lead What is Social Health?
      %p
        At Social Health, we believe everybody deserves deep and meaningful relationships with others
        because companionship and socializing are essential parts of a healthy life. Unfortunately,
        we have observed a sharp rise in social isolation and loneliness, and an accompanying reduction
        in wellness, in recent years. This development has affected countless people and communities,
        and, today, almost everyone knows a person impacted by these problems, even if they don't realize
        it. We see this problematic trend as a call to action for societal change, so we have created
        a fun, collaborative solution for all people to use and benefit from, Social Health Online.
      %p
        With Social Health Online, we deliver an internet-based social wellness service that brings
        people and organizations together in ways that are simple in design and practice, yet powerful
        enough to cultivate considerable, long-lasting benefits. Our service incentivizes and rewards
        people who pursue greater social event participation because of the positive impact the building
        of relationships has on their wellness.
      %p
        By incentivizing our Customers and Affiliates, the organizations that partner with us to support
        our service, and Users, the primary beneficiaries of our service, with rewards, such as sweepstakes
        prizes, when they establish and participate in offline "social events," which comprises virtually
        all lawful activities involving live interactions between two or more people, we can prevent
        and beat social isolation and loneliness by fostering more rewarding social lives together.
