- page_title 'Affiliate Locator'
%script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGfsf8dSa4hJAJQ3K6PNZI3LCIfRNZWUI")
= javascript_include_tag "affiliate_locator"
.container-fluid
  .row
    .col-lg-8.col-xs-12.pt-5

      %h2.text-info.pb-3 Affiliate Locator

      %h5 Filter
      .col-xs-12
        .row
          .col-xs-6.col-md-3
            = select_tag 'affiliate-filter-toggle', options_for_select(locator_filter_options),class: "form-control"
          .col-xs-12.col-md-6#affiliate-filter-form
        .row.my-2
          .col-xs-12.col-md-7
            .row#affiliate-filter-btn-group
              .col-xs-5.col-md-4
                = button_tag "Search", class: "form-control", id: "affiliate-filter-button"
              .col-xs-5.col-md-5
                = button_tag "Clear Search", class: "form-control", id: "clear-affiliate-filter-button"
            
      #affiliate-locator-table-container
        %table.footable.table.table-striped.my-2.table-hover#affiliate-locator-table{'data-sorting': "true", "style": "display: table;"}

    
    .col-md-12.col-lg-4.py_3
      %p(id="affiliate-locator-map")
  