.container
  .row
    .col.pt-3
      %h1.text-info.text-center Affiliate Agreement
  .row
    .col.py-3
      %p
        BY ENTERING INTO THIS LEGAL AGREEMENT (“AGREEMENT”) BETWEEN YOU (“AFFILIATE”) AND SOCIAL HEALTH,
        LLC (“SOCIAL HEALTH”) YOU ARE ACKNOWLEDGING THAT YOU HAVE READ AND UNDERSTAND THE TERMS AND CONDITIONS
        BELOW AND AGREE TO ACCEPT AND ADHERE TO THEM, EFFECTIVE IMMEDIATELY.
      %p
        <strong>1. Overview</strong>
      %p
        This Agreement contains the complete terms and conditions that apply to you becoming an Affiliate with
        Social Health and its online service, Social Health Online (the “Service”). The purpose of this
        Agreement is to allow Social Health to list your organization’s contact information, engage in HTML
        linking, and provide supportive information about social events hosted by your organization and/or
        discounts for your products and services through Social Health’s website and Service. Applicants select
        which type of support they wish to provide in the application they submit to Social Health when registering
        to become an Affiliate (“Application”). “Social events” means lawful offline activities that involve live
        interactions between at least two or more people. Please note that throughout this Agreement, "we," "us,"
        and "our" refer to Social Health, and "you," "your," and "yours" refer to the Affiliate.
      %p
        <strong>2. Affiliate Obligations</strong>
      %p
        To fulfill the Affiliate registration process, you will submit a complete Application to Social
        Health. We may reject your Application at our sole discretion. We may reject or cancel your Application
        if we determine that your website is unsuitable for our Service, including if it:
      %p
        (a) Promotes sexually explicit materials;
      %p
        (b) Promotes violence;
      %p
        (c) Promotes discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age;
      %p
        (d) Promotes illegal activities;
      %p
        (e) Incorporates any materials which infringe or assist others to infringe on any copyright,
        trademark or other intellectual property rights or to violate the law;
      %p
        (f) Is otherwise in any way unlawful, harmful, threatening, defamatory, obscene, harassing, or
        racially, ethnically or otherwise objectionable to us in our sole discretion; or,
      %p
        (g) Contains software downloads that potentially enable diversions of fees and commissions from
        Social Health or others associated with it.
      %p
        2.2. You may not create or design your website to either explicitly or implicitly resemble or imitate
        our website or Service nor design your website in a manner which leads people to believe you are Social
        Health or one its employees or agents.
      %p
        2.3. You will be publicly listed as an organization that is collaborating with Social Health as an
        Affiliate on our website and in the Service. Your organization’s contact information, and HTML
        linking between your website and Social Health’s website and Service, will also be provided by us
        to the public and our Users so that they will be able to contact you and participate in social
        events hosted by your organization. Additionally, information regarding your organization’s activities
        and social events may be posted on Social Health’s social media sites.
      %p
        2.4. The maintenance and updating of your website will be your responsibility.
      %p
        2.5. It is entirely your responsibility to follow all applicable intellectual property and other laws
        that pertain to your website. You must have express permission to use any person's copyrighted material,
        whether it be a writing, an image, or any other copyrightable work. We will not be responsible (and you
        will be solely responsible) if you use another person's copyrighted material or other intellectual property
        in violation of the law or any third-party rights.
      %p
        <strong>3. Social Health Rights and Obligations</strong>
      %p
        3.1. We have the right to visit your website at any time to determine if you are following the terms
        and conditions of this Agreement. We may notify you of changes needed to ensure any links to our website
        are appropriate.
      %p
        3.2. Social Health reserves the right to terminate this Agreement immediately and without notice to
        you should you commit fraud in your role as an Affiliate or should you abuse your association with Social
        Health in any way.
      %p
        3.3. This Agreement will begin upon our receipt and acceptance of your Application and will continue unless
        terminated hereunder.
      %p
        <strong>4. Termination</strong>
      %p
        Either you or we may end this Agreement at any time, with or without cause, by giving the other party written
        notice. Termination will be effective within two (2) business days of the receipt of written notice. Written
        notice can be in the form of mail, email or fax. In addition, this Agreement will terminate immediately upon
        any material breach of this Agreement.
      %p
        <strong>5. Modification</strong>
      %p
        We may modify any of the terms and conditions in this Agreement at any time at our sole discretion. If modification
        of the terms and conditions in this Agreement occurs, we are not obligated to notify you. If any modification is unacceptable
        to you, your only option is to terminate the Agreement. Your continued involvement as Social Health’s Affiliate following
        the change of the terms and conditions will indicate your agreement to the changes.
      %p
        <strong>6. Payments</strong>
      %p
        Social Health will not remit any payments to organizations for their involvement as Affiliates. Additionally, no
        payments to Social Health are required for any organization to be an Affiliate. However, Social Health reserves the
        right to negotiate the introduction of a payment arrangement with Affiliates at any time.
      %p
        <strong>7. Promotion Restrictions</strong>
      %p
        7.1. Naturally, any promotion that mentions Social Health could be perceived by the public as a joint effort, so legal,
        reasonable, and unambiguous promotional practices should always be adhered to. Affiliates should know that certain forms
        of advertising are always prohibited by Social Health. For example, advertising commonly referred to as "spamming" is
        unacceptable to us and could cause damage to our name. If it comes to our attention that you are spamming, we will consider
        that cause for immediate termination of this Agreement. In addition, you may not advertise in any way that effectively
        conceals or misrepresents your identity. At all times, you must clearly represent yourself and your website as independent
        from Social Health.
      %p
        7.2. Affiliates that participate in or exclusively bid in Pay-Per-Click (“PPC”) campaigns on keywords such as Social Health,
        social health, Social Health Online, www.socialhealthonline.com, and/or any misspellings or similar alterations of these,
        be it separately or in combination with other keywords, and do not direct the traffic from such campaigns to their own website
        prior to re-directing it to ours, will be considered trademark violators, and their Agreement will be terminated. We will do
        everything possible to contact the Affiliate prior to the ban. However, we reserve the right to expel any trademark violator
        without prior notice on the first occurrence of such PPC bidding behavior.
      %p
        7.3. Affiliate shall not transmit any so-called “interstitials,” “Parasiteware™,” “Parasitic Marketing,” “Shopping Assistance
        Application,” “Toolbar Installations and/or Add-ons,” “Shopping Wallets” or “deceptive pop-ups and/or pop-unders” to Users from
        the time the Users click on a qualifying link until such time as the User has fully exited Social Health’s website or
        Service (i.e., no page from our website or any Social Health’s content or branding is visible on the end-user’s screen). As used
        herein, “Parasiteware™” and “Parasitic Marketing” shall mean an application that (a) through accidental or direct intent causes
        the overwriting of affiliate and non-affiliate commission tracking cookies through any other means than a person-initiated click
        on a qualifying link on a web page or email; (b) intercepts searches to redirect traffic through an installed software, thereby
        causing, pop ups, commission tracking cookies to be put in place or other commission tracking cookies to be overwritten where a
        User would under normal circumstances have arrived at the same destination through the results given by the search (search engines
        being, but not limited to, Google, MSN, Yahoo, Overture, AltaVista, Hotbot and similar search or directory engines); (c) set commission
        tracking cookies through loading of websites in IFrames, hidden links and automatic pop ups that open Social Health’s website; (d) targets
        text on websites, other than those websites 100% owned by the application owner, for the purpose of contextual marketing; (e) removes,
        replaces or blocks the visibility of Affiliate banners with any other banners, other than those that are on websites 100% owned by the
        owner of the application.
      %p
        <strong>8. Grant of Licenses</strong>
      %p
        8.1. We grant to you a non-exclusive, non-transferable, revocable right to (i) access our website in accordance with the terms of this
        Agreement and (ii) solely in connection with such links, to use our logos, trade names, trademarks, and similar identifying material
        (collectively, the "Licensed Materials") that we provide to you or authorize for such purpose. You are only entitled to use the Licensed
        Materials to the extent that you are in good standing as an Affiliate. You agree that all uses of the Licensed Materials will be on behalf
        of Social Health and the good will associated therewith will inure to the sole benefit of Social Health.
      %p
        8.2. Each party agrees not to use the other's proprietary materials in any manner that is disparaging, misleading, obscene or that otherwise
        portrays the party in a negative light. Each party reserves all of its respective rights in the proprietary materials covered by this license.
        Other than the license granted in this Agreement, each party retains all right, title, and interest to its respective rights and no right,
        title, or interest is transferred to the other.
      %p
        <strong>9. Disclaimer</strong>
      %p
        SOCIAL HEALTH MAKES NO EXPRESS OR IMPLIED REPRESENTATIONS OR WARRANTIES REGARDING SOCIAL HEALTH’S SERVICE AND WEBSITE OR THE PRODUCTS OR SERVICES
        PROVIDED THEREIN, ANY IMPLIED WARRANTIES OF SOCIAL HEALTH’S ABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED
        AND EXCLUDED. IN ADDITION, WE MAKE NO REPRESENTATION THAT THE OPERATION OF OUR WEBSITE WILL BE UNINTERRUPTED OR ERROR FREE, AND WE WILL NOT BE
        LIABLE FOR THE CONSEQUENCES OF ANY INTERRUPTIONS OR ERRORS.
      %p
        <strong>10. Representations and Warranties</strong>
      %p
        You represent and warrant that:
      %p
        (a) This Agreement has been duly and validly executed and delivered by you and constitutes your legal, valid, and binding obligation, enforceable
        against you in accordance with its terms;
      %p
        (b) You have the full right, power, and authority to enter into and be bound by the terms and conditions of this Agreement and to perform your
        obligations under this Agreement, without the approval or consent of any other party; and,
      %p
        (c) You have sufficient right, title, and interest in and to the rights granted to us in this Agreement.
      %p
        <strong>11. Limitations of Liability</strong>
      %p
        WE WILL NOT BE LIABLE TO YOU WITH RESPECT TO ANY SUBJECT MATTER OF THIS AGREEMENT UNDER ANY CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR OTHER
        LEGAL OR EQUITABLE THEORY FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES (INCLUDING, WITHOUT LIMITATION, LOSS OF REVENUE
        OR GOODWILL OR ANTICIPATED PROFITS OR LOST BUSINESS), EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
      %p
        <strong>12. Indemnification</strong>
      %p
        You hereby agree to indemnify and hold harmless Social Health, and its subsidiaries and affiliates, and their directors, officers, employees, agents,
        shareholders, members, and other owners, against any and all claims, actions, demands, liabilities, losses, damages, judgments, settlements, costs,
        and expenses (including reasonable attorneys' fees) (any or all of the foregoing hereinafter referred to as "Losses") insofar as such Losses (or
        actions in respect thereof) arise out of or are based on (i) any claim that our use of the Affiliate trademarks infringes on any trademark, trade name,
        service mark, copyright, license, intellectual property, or other proprietary right of any third party, (ii) any misrepresentation of a representation
        or warranty or breach of a covenant and agreement made by you herein, or (iii) any claim related to your website, including, without limitation, content
        therein not attributable to us.
      %p
        <strong>13. Confidentiality</strong>
      %p
        All confidential information, including, but not limited to, any business, technical, and financial information, disclosed by one party to the other
        during negotiation or the effective term of this Agreement which is marked "Confidential," will remain the sole property of the disclosing party, and
        each party will keep in confidence and not use or disclose such proprietary information of the other party without express written permission of the
        disclosing party.
      %p
        <strong>14. Miscellaneous</strong>
      %p
        14.1. You agree that, as an Affiliate, you are an entirely separate organization that is operating independently from Social Health and, as such, not
        part of our company. Nothing in this Agreement will create any joint venture, agency, franchise, sales representative, or employment relationship between
        you and Social Health. You will have no authority to make or accept any offers or representations on our behalf. You will not make any statement, whether
        on your website or any other of your website or otherwise, that reasonably would contradict anything in this Section.
      %p
        14.2. Neither party may assign its rights or obligations under this Agreement to any party, except to a party who obtains all or substantially all of the
        business or assets of a third party.
      %p
        14.3. This Agreement shall be governed by and interpreted in accordance with the laws of the State of Alabama without regard to the conflicts of laws and
        principles thereof. All disputes related to this Agreement will be brought solely in the federal or state courts located in Jefferson County, Alabama, United
        States, and the Affiliate consents to personal jurisdiction.
      %p
        14.4. You consent to the use of electronic records and give Social Health permission to provide records electronically instead of in paper form. You also
        acknowledge your ability to electronically receive, download, and print this Agreement, any amendments, and all other policies and rules. However, you are
        entitled to receive certain records from Social Health, such as contracts, notices, and communications, in paper form upon request.
      %p
        14.5. You may not amend or waive any provision of this Agreement unless in writing and signed by both parties.
      %p
        14.6. This Agreement represents the entire agreement between us and you for becoming an Affiliate and shall supersede all prior agreements and communications of
        the parties, oral or written.
      %p
        14.7. The headings and titles contained in this Agreement are included for convenience only and shall not limit or otherwise affect the terms of this Agreement.
      %p
        14.8. If any provision of this Agreement is held to be invalid or unenforceable, that provision shall be eliminated or limited to the minimum extent necessary
        such that the intent of the parties is effectuated, and the remainder of this agreement shall have full force and effect.
