- page_title 'Careers'

.container
  .row
    .col.py-3
      %h1.text-info Careers

.row.justify-content-center.mb-3{style: "margin: 0; padding: 0;"}
  .col-md-8
    .card.card-box
      .card-body.justify-content-center.py-0

        .row
          .col
            %h3.text-center.pb-2
              %strong Open Positions

        .card
          #headingOne.card-header.text-center.border
            %button.mt-3.mb-2.c-pointer.btn-responsive.btn-outline-info.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
              %h3.text-center Sales Director
            .text-center.brand-primary
            %button.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
              %i.fas.fa-chevron-down.fa-2x
          #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
            .card-body.border
              %div.mt-2
              <strong>Description:</strong> Social Health is seeking a new team member to build and lead its Sales division. The Sales Director will be responsible for crafting, managing, and deploying the company's strategy for
              rapidly building the size of its Member, Affiliate, and User base. As the Sales Director, you will hold an executive position and work alongside the CEO and COO to develop and grow the business and brand.
              %div.mt-2
              <strong>Responsibilities/Expectations:</strong> A Sales Director should know what current and future customers want and have the abilities and experiences needed to provide an optimal sales performance. You will be critical
              to building the business so you should be able to think critically, have patience and fortitude with your job, and remain flexible and open-minded.
              %p
              You will participate in a multitude of meetings regarding the planning and execution of sales tasks, collaborate with people who are internal and external to the company, and properly document your activities. This position
              can be worked in a part-time or full-time capacity, depending on the Sales Directors' scheduling needs.
              %div.mt-2
              %strong
              <strong>Skills/Experience Required:</strong> Either a current Associate's or Bachelor’s degree holder or a student in their final year of an Associate's or Bachelor’s degree program with a business focus.
              %div.mt-2
              A minimum of 2+ years prior sales experience with preference given to candidates who have worked in a managerial role. No prior experience in the field of Information Technology is required, but it is preferred. Intermediate computer skills
              are necessary. An ability to quickly and effectively use troubleshooting and technical skills is desired. A strong candidate will be capable of performing work with a high degree of accuracy and attention to detail.
              %div.mt-2
              <strong>Compensation:</strong> The Sales Director will receive a commission-based income with residuals that are negotiable during the hiring process. Additionally, the Sales Director will receive equity in the enterprise
              with a total amount that may grow with the exercise of options, depending on the circumstances surrounding the Sales Director's performance.
              %div.mt-2
              At this time, this is a commission-based position, so do not apply if you require a base salary as well.
              Social Health intends to convert this position into a salary plus commission position in the future if certain business growth milestones are met.
              %div.mt-2
              <strong> How to Apply:</strong>
              Submit your resume to&nbsp;
              %a{ href: 'mailto:sales@socialhealthonline.com',
                 title: 'sales@socialhealthonline.com',
                 target: '_blank'}> sales@socialhealthonline.com

.container
  .row
    .col.mb-3
      %p
        Social Health provides equal employment opportunities to all employees and applicants for employment and prohibits discrimination and harassment of any type without regard to race, color, religion, age, sex, national origin, disability status, genetics, protected veteran status, sexual orientation, gender identity or expression, or any other characteristic protected by federal, state or local laws.
      %p
        This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.
