- page_title 'Careers'

.container
  .row
    .col.py-3
      %h1.text-info Careers

.row.justify-content-center.mb-3{style: "margin: 0; padding: 0;"}
  .col-md-8
    .card.card-box
      .card-body.justify-content-center.py-0

        .row
          .col
            %h3.text-center.pb-2
              %strong Open Positions

        .card
          #headingOne.card-header.text-center.border
            Sorry, there are currently no open positions.

.container
  .row
    .col.mb-3
      %p
        Social Health provides equal employment opportunities to all employees and applicants for employment and prohibits discrimination and harassment of any type without regard to race, color, religion, age, sex, national origin, disability status, genetics, protected veteran status, sexual orientation, gender identity or expression, or any other characteristic protected by federal, state or local laws.
      %p
        This policy applies to all terms and conditions of employment, including recruiting, hiring, placement, promotion, termination, layoff, recall, transfer, leaves of absence, compensation and training.
