.container
  .row
    .col.pt-3
      %h1.text-info.text-center Frequently Asked Questions
  .row
    .col.py-3
      %p
        <strong>Q: What is Social Health?</strong><br>
        <strong>A:</strong> Social Health is a software company that developed, owns, and manages access to Social Health Online.
      %p
        <strong>Q: What is Social Health Online?</strong><br>
        <strong>A:</strong> Social Health Online is a wellness service that facilitates the arrangement of social events and the
        development of relationships to improve people’s health.
      %p
        <strong>Q: What is a “social event”?</strong><br>
        <strong>A:</strong> Virtually any in-person activity between 2 or more people, whether it is sourced from Social Health Online
        or elsewhere. Illegal activities, private activities strictly involving immediate family members, and brief incidental interactions
        are not valid events.
      %p
        <strong>Q: Why promote greater social event participation?</strong><br>
        <strong>A:</strong> Everyone’s health is directly linked to the strength of their connections to other people. Social event participation
        is a fun, easy way for people to develop relationships with others and shape happier, healthier lives.
      %p
        <strong>Q: How does Social Health Online help people, organizations, and communities?</strong><br>
        <strong>A:</strong> The service fosters healthier behaviors by promoting greater involvement in social events. Consequently, it improves
        the satisfaction and bottom line of all participants because it reduces healthcare costs, strengthens relationships, and delivers rewards.
        Additionally, the service’s collaborative nature reinforces the ties between people and organizations.
      %p
        <strong>Q: How is this service different than what is offered by sites like Facebook, Meetup, etc.?</strong><br>
        <strong>A:</strong> Sites like Facebook provide online social networks that make money by selling ads with the data gathered from their users’
        online activities, so they want users to stay on their sites as long as possible to share information and have no interest in ensuring they actually
        participate in events. Sites like Meetup want their users to create groups and schedule events because of the fees associated with these processes.
        These sites also have no interest in ensuring people actually attend any events and they don’t actively facilitate a connection between
        their users and the places they might want to meet in their communities.
      %p
        Social Health Online stands out because of its emphasis on protecting our Users’ privacy while also promoting their health with rewards and incentives to get
        them offline and meeting with others as quickly as possible. We have subscription fees to ensure our Users are not subject to advertising and our service was
        built from the ground up with local organizations’ buy-in via the events and discounts information they provide our Users to encourage them to participate in
        social events. Additionally, our sweepstakes are unmatched since we offer them to reward our Users for the efforts they make towards improving their social wellness.
      %p
        <strong>Q: What are the “rewards” and "incentives"?</strong><br>
        <strong>A:</strong> Social Health Online provides many intangible and tangible benefits for the organizations and people involved with it. For instance, Members
        and Affiliates get more public recognition and a better connection to the people in their communities, and Users receive Amazon eGift Cards and discounts on purchases.
      %p
        <strong>Q: Who are the “Members,” “Affiliates,” and “Users”?</strong><br>
        <strong>A:</strong> Social Health Online is comprised of Members, Affiliates, and Users. Members are organizations that register with us to host and manage Communities
        of Users in the service. Affiliates are organizations that collaborate with us so that we can link their event information and/or provide product and service discounts
        to Users. Users are the people who utilize the service to share, participate in, and log social events.
      %p
        <strong>Q: What is a "Community"?</strong><br>
        <strong>A:</strong> The Communities are the shared homes provided to our service's Users. A Community will either be privately owned and managed by the Member organization
        that is hosting a User's account or it will be a public place that is populated by Guest Users and the people exploring the service with a demo account.
      %p
        <strong>Q: What is a "Guest User"?</strong><br>
        <strong>A:</strong> A Guest User is a person with a free User account in Social Health Online. These accounts are provided by Social Health to people who wish to benefit
        from the service but do not have an association with a Member organization that is enrolling new Users. Guest Users can interact with all of the features in our service but
        they are not eligible to win prizes from sweepstakes or contests.
      %p
        <strong>Q: Who is eligible for Social Health Online?</strong><br>
        <strong>A:</strong> A person must be at least 19 years old and a resident of the United States to become a User. All adults who meet these age and residency requirements are
        good candidates for becoming Users since our service offers preventive and corrective benefits for every type of person. Organizations must have their principal place of business
        in the United States to become Members or Affiliates.
      %p
        <strong>Q: How do those who want to become Members get involved?</strong><br>
        <strong>A:</strong> Registering to become a Member can be performed through our website or by contacting us.
      %p
        <strong>Q: How do those who want to become Affiliates get involved?</strong><br>
        <strong>A:</strong> Registering to become an Affiliate is free and can be performed through our website or by contacting us.
      %p
        <strong>Q: How do those who want to become Users get involved?</strong><br>
        <strong>A:</strong> To become a User, visit our website’s Member Locator, look for a nearby organization you associate with, such as an employer, healthcare provider, or
        community center, contact them and confirm that they’re accepting new Users, and then enroll.
      %p
        <strong>Q: How much does the service cost?</strong><br>
        <strong>A:</strong> The fees associated with Social Health Online vary depending on the roles and degree of involvement that organizations and people wish to have in
        the service. Visit the Pricing page on our website or contact us to learn more.
      %p
        <strong>Q: How can I pay for the service?</strong><br>
        <strong>A:</strong> We accept credit/debit cards and ACH payments through checking or savings accounts for service purchases.
      %p
        <strong>Q: How do ACH payments work?</strong><br>
        <strong>A:</strong> For ACH payments, Social Health verifies bank routing and account numbers by making two "microdeposits" to our customers' bank accounts. These
        transfers can take 2-3 business days to appear in a customer's bank account. As a customer, you must confirm that these deposits have been received in your bank account
        before you can complete a purchase with Social Health. You will receive a verification email that includes a link you must use to confirm these deposits have appeared in
        your bank account.
      %p
        Confirmation with Social Health must occur within 5 business days from the date the deposits are generated. If the deposits do not appear in your bank account
        within 5 business days after you attempt to make a purchase, contact your bank to verify that the right banking information is being used and then provide an
        update to Social Health at support@socialhealthonline.com.
      %p
        <strong>Q: What can I do to satisfy the service's 10 MB upload limit with my logo and/or avatar?</strong><br>
        <strong>A:</strong> We recommend that you use the free tools offered at&nbsp;
        %a{ href: 'http://www.picresize.com',  title: "picresize", target: '_blank' }> picresize
        &nbspif the pictures you want to upload are over our service's 10 MB limit.
      %p
        <strong>Q: Is your service's site compatible with all internet-ready devices?</strong><br>
        <strong>A:</strong> Presently our service is fully compatible with almost all devices. However, we have confirmed that Apple iPads have trouble displaying our service's
        site properly and some features do not function properly. We are working diligently to resolve all compatibility issues that we are aware of. 

      %p
        <strong>Q: How does a User deactivate their account?</strong><br>
        <strong>A:</strong> Users (excluding the Members’ primary administrative/managerial Users) may end their relationship with
        Social Health at any time by deactivating their respective User account and discontinuing their use of the service. By
        contacting the organization hosting your User account, you can complete the deactivation of your account at any time.
        Read our Privacy Policy for more information on what happens to your information upon User account deactivation.
