.container
  .row
    .col.pt-3
      %h1.text-info.text-center Frequently Asked Questions

  .row
    .col.py-3.text-center
      %p.h3.font-weight-bold General

  .card
    #headingOne.card-header.text-center.border
      <strong>Q: What is Social Health?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-target" => "#collapseOne", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Social Health is a software company that developed, owns, and manages access to Social Health Online.

  .card
    #headingTwo.card-header.text-center.border
      <strong>Q: What is Social Health Online?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwo", "aria-expanded" => "true", "data-target" => "#collapseTwo", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Social Health Online is a wellness service that facilitates the arrangement of social events and the
          development of relationships to improve people’s health.

  .card
    #headingThree.card-header.text-center.border
      <strong>Q: What is a “social event”?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseThree", "aria-expanded" => "true", "data-target" => "#collapseThree", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Virtually any in-person activity between 2 or more people, whether it is sourced from Social Health Online
          or elsewhere. Illegal activities, private activities strictly involving immediate family members, and brief incidental interactions
          are not considered valid events.

  .card
    #headingFour.card-header.text-center.border
      <strong>Q: Why promote greater social event participation?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFour", "aria-expanded" => "true", "data-target" => "#collapseFour", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFour.collapse{"aria-labelledby" => "headingFour", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Everyone’s health is directly linked to the strength of their connections to others. Social event participation
          is a fun, easy way for people to develop relationships with others and shape happier, healthier lives.

  .card
    #headingFive.card-header.text-center.border
      <strong>Q: How does Social Health Online help people, organizations, and communities?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFive", "aria-expanded" => "true", "data-target" => "#collapseFive", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFive.collapse{"aria-labelledby" => "headingFive", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> The service fosters healthier behaviors by promoting greater involvement in social events. Consequently, it improves
          the satisfaction and bottom line of all participants because it reduces healthcare costs, strengthens relationships, and delivers rewards.
          Additionally, the service’s collaborative nature reinforces the ties between people and organizations.

  .card
    #headingSix.card-header.text-center.border
      <strong>Q: How is this service different than what is offered by sites like Facebook, Meetup, etc.?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSix", "aria-expanded" => "true", "data-target" => "#collapseSix", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSix.collapse{"aria-labelledby" => "headingSix", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Sites like Facebook provide online social networks that make money by selling ads with the data gathered from their Users’
          online activities, so they want Users to stay on their sites as long as possible to share information and have no interest in ensuring they actually
          participate in events. Sites like Meetup want their Users to create groups and schedule events because of the fees associated with these processes.
          These sites also have no interest in ensuring people actually attend any events and they don’t actively facilitate a connection between
          their Users and the places they might want to meet in their communities.
        %p
          Social Health Online stands out because of its emphasis on protecting our Users’ privacy while also promoting their health with rewards and incentives to get
          them offline and meeting with others as quickly as possible. We have subscription fees to ensure our Users are not subject to advertising and our service was
          built from the ground up with local organizations’ buy-in via the events and discounts information they provide our Users to encourage them to participate in
          social events. Additionally, our sweepstakes are unmatched since we offer them to reward our Users for the efforts they make towards improving their social wellness.

  .card
    #headingSeven.card-header.text-center.border
      <strong>Q: What are the “rewards” and "incentives"?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSeven", "aria-expanded" => "true", "data-target" => "#collapseSeven", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSeven.collapse{"aria-labelledby" => "headingSeven", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Social Health Online provides many intangible and tangible benefits for the organizations and people involved with it. For instance, Members
          and Affiliates get more positive public recognition and a better connection to the people in their communities, and Users receive Amazon eGift Cards and discounts on purchases.

  .card
    #headingEight.card-header.text-center.border
      <strong>Q: How do the sweepstakes work?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseEight", "aria-expanded" => "true", "data-target" => "#collapseEight", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseEight.collapse{"aria-labelledby" => "headingEight", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> To enter the weekly sweepstakes for $25 Amazon eGift Cards, Users must log their involvement in social events. Winners are selected from the collective pool of the service's active Users who log their events.
          All sweepstakes winners will be notified by Social Health, and their rewards will be delivered, the same week the winners are selected. All sweepstakes winners for a given week will be selected within the first calendar day of the following week.

  .card
    #headingNine.card-header.text-center.border
      <strong>Q: Are the rewards subject to taxation?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseNine", "aria-expanded" => "true", "data-target" => "#collapseNine", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseNine.collapse{"aria-labelledby" => "headingNine", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Yes, the rewards are considered cash equivalent items by the IRS, so their value is deemed to be taxable income. Members and Users shall be
          responsible for all taxes associated with the rewards. The service's weekly sweepstakes announcements will act as the sole notification to the Members and
          Users of any winnings prior to the delivery of rewards and will provide sufficient information for all parties to prepare for and address all tax implications of the rewards.

  .card
    #headingTen.card-header.text-center.border
      <strong>Q: Who are the “Members,” “Affiliates,” and “Users”?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTen", "aria-expanded" => "true", "data-target" => "#collapseTen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTen.collapse{"aria-labelledby" => "headingTen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Social Health Online is comprised of Members, Affiliates, and Users. Members are organizations that register with us to host and manage Communities
          of Users in the service. Affiliates are organizations that collaborate with us so that we can link their event information and/or provide product and service discounts
          to Users. Users are the people who utilize the service to share, participate in, and log social events.

  .card
    #headingEleven.card-header.text-center.border
      <strong>Q: What is a "Community"?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseEleven", "aria-expanded" => "true", "data-target" => "#collapseEleven", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseEleven.collapse{"aria-labelledby" => "headingEleven", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> The Communities are the shared homes provided to our service's Users. A Community will either be privately owned and managed by the Member organization
          that is hosting a User's account or it will be a public place that is populated by Guest Users.

  .card
    #headingTwelve.card-header.text-center.border
      <strong>Q: What is a "Guest User"?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwelve", "aria-expanded" => "true", "data-target" => "#collapseTwelve", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwelve.collapse{"aria-labelledby" => "headingTwelve", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> A Guest User is a person with a free User account in Social Health Online. These accounts are provided by Social Health to people who wish to benefit
          from the service but do not have an association with a Member organization that is enrolling new Users. Guest Users can interact with all of the features in our service but
          they are not eligible to win prizes from sweepstakes or contests.

  .card
    #headingThirteen.card-header.text-center.border
      <strong>Q: Who is eligible for Social Health Online?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseThirteen", "aria-expanded" => "true", "data-target" => "#collapseThirteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseThirteen.collapse{"aria-labelledby" => "headingThirteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> A person must be at least 19 years old and a resident of the United States to become a User. All adults who meet these age and residency requirements are
          good candidates for becoming Users since our service offers preventive and corrective benefits for every type of person. Organizations must have their principal place of business
          in the United States to become Members or Affiliates.

  .row
    .col.pb-3.pt-1.text-center
      %p.h3.font-weight-bold Participating

  .card
    #headingFourteen.card-header.text-center.border
      <strong>Q: How do those who want to become Members get involved?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFourteen", "aria-expanded" => "true", "data-target" => "#collapseFourteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFourteen.collapse{"aria-labelledby" => "headingFourteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Registering to become a Member can be performed through our website or by contacting us.

  .card
    #headingFifteen.card-header.text-center.border
      <strong>Q: What are the requirements for the organizations that want to be considered for a no-fee Member account?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseFifteen", "aria-expanded" => "true", "data-target" => "#collapseFifteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseFifteen.collapse{"aria-labelledby" => "headingFifteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> The minimum requirement for a waiver of the service fees is 501(c)(3) status. However, having 501(c)(3) status alone is not enough to guarantee a waiver of the fees.
          Charitable organizations will be considered for the fee waiver on a case-by-case basis according to the totality of their circumstances when they submit their waiver request.

  .card
    #headingSixteen.card-header.text-center.border
      <strong>Q: How do those who want to become Affiliates get involved?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSixteen", "aria-expanded" => "true", "data-target" => "#collapseSixteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSixteen.collapse{"aria-labelledby" => "headingSixteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Registering to become an Affiliate is free and can be performed through our website or by contacting us.

  .card
    #headingSeventeen.card-header.text-center.border
      <strong>Q: How do those who want to become Users get involved?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseSeventeen", "aria-expanded" => "true", "data-target" => "#collapseSeventeen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseSeventeen.collapse{"aria-labelledby" => "headingSeventeen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> To become a User, visit our website’s Member Locator, look for a nearby organization you associate with, such as an employer, healthcare provider, or
          community center, contact them and confirm that they’re accepting new Users, and then enroll. Guest Users may register through our website.

  .card
    #headingEighteen.card-header.text-center.border
      <strong>Q: How much does the service cost?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseEighteen", "aria-expanded" => "true", "data-target" => "#collapseEighteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseEighteen.collapse{"aria-labelledby" => "headingEighteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> The fees associated with Social Health Online vary depending on the roles and type of involvement that organizations and people wish to have in
          the service. Visit the Pricing page on our website or contact us to learn more.

  .card
    #headingNineteen.card-header.text-center.border
      <strong>Q: How can I pay for the service?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseNineteen", "aria-expanded" => "true", "data-target" => "#collapseNineteen", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseNineteen.collapse{"aria-labelledby" => "headingNineteen", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> We accept credit/debit cards and ACH payments through checking or savings accounts for service purchases.

  .card
    #headingTwenty.card-header.text-center.border
      <strong>Q: How do ACH payments work?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwenty", "aria-expanded" => "true", "data-target" => "#collapseTwenty", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwenty.collapse{"aria-labelledby" => "headingTwenty", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> For ACH payments, Social Health verifies bank routing and account numbers by making two "micro-deposits" to our Members' bank accounts. These
          transfers can take 2-3 business days to appear in a Member's bank account. As a pending Member, you must confirm that these deposits have been received in your bank account
          before you can complete a purchase with Social Health. You will receive a verification email that includes a link you must use to confirm these deposits have appeared in
          your bank account.
        %p
          Confirmation with Social Health must occur within 5 business days from the date the deposits are generated. If the deposits do not appear in your bank account
          within 5 business days after you attempt to make a purchase, contact your bank to verify that the right banking information is being used and then provide an
          update to Social Health at support@socialhealthonline.com.

  .card
    #headingTwentyone.card-header.text-center.border
      <strong>Q: How does a User deactivate their account?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwentyone", "aria-expanded" => "true", "data-target" => "#collapseTwentyone", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwentyone.collapse{"aria-labelledby" => "headingTwentyone", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Users (excluding the Members’ primary administrative/managerial Users) may end their relationship with
          Social Health at any time by deactivating their respective User account and discontinuing their use of the service. By
          contacting the organization hosting your User account, you can complete the deactivation of your account at any time.
          Read our Privacy Policy for more information on what happens to your information upon User account deactivation.

  .row
    .col.pb-3.pt-1.text-center
      %p.h3.font-weight-bold Miscellaneous

  .card
    #headingTwentytwo.card-header.text-center.border
      <strong>Q: What can I do to satisfy the service's 10 MB upload limit with my logo and/or avatar?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwentytwo", "aria-expanded" => "true", "data-target" => "#collapseTwentytwo", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwentytwo.collapse{"aria-labelledby" => "headingTwentytwo", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> We recommend that you use the free tools offered at&nbsp;
          %a{ href: 'http://www.picresize.com',  title: "picresize", target: '_blank' }> picresize
          &nbspif the pictures you want to upload are over our service's 10 MB limit.

  .card
    #headingTwentythree.card-header.text-center.border
      <strong>Q: Why are some of my images uploading sideways?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwentythree", "aria-expanded" => "true", "data-target" => "#collapseTwentythree", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwentythree.collapse{"aria-labelledby" => "headingTwentythree", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> When uploading photos your images may sometimes appear to be sideways. Our service does not rotate images during the upload process. The reason your
          images appear sideways is because the photos were taken vertically and the image files are in this orientation. If you see that images are sideways
          after uploading them, then you should rotate the images using photo viewing or editing software on a computer or other device. After your images are rotated you can upload them
          to the service again and they will appear correctly oriented.

  .card
    #headingTwentyfour.card-header.text-center.border
      <strong>Q: Is your service's site compatible with all internet-ready devices?</strong><br>
      %button.btn.btn-link{"aria-controls" => "collapseTwentyfour", "aria-expanded" => "true", "data-target" => "#collapseTwentyfour", "data-toggle" => "collapse"}
        %i.fas.fa-chevron-down
    #collapseTwentyfour.collapse{"aria-labelledby" => "headingTwentyfour", "data-parent" => "#accordion"}
      .card-body.border
        %p
          <strong>A:</strong> Presently, our service's site is fully compatible with nearly all devices. However, we have confirmed that Apple iPads have trouble displaying our site
          correctly and some interactive features on it are not functional as a result. We are working diligently to resolve all compatibility issues as soon as possible. Users should contact us
          if they encounter any issues that lead to unscheduled service disruptions.

.container
  .row
    .col.mb-3.text-center
      %p Have other questions?
      %a{ href: contact_path, title: "Contact" }> Contact us!
