#hero
  .container
    .row
      .col-lg-6.pt-5
        %p.lead Improving the wellness of people and their communities by promoting healthier social lives.
        %p
          Social Health provides an online service with a rewards program that helps people build healthier
          relationships and incentivizes them to engage in more social activities in their communities.
