#hero
  .container
    %h3.mb-4.font-weight-bold
      Social Health is dedicated to improving the wellness of people and their communities by promoting
      healthier social lives.
    %h5.mb-4.font-weight-bold
      With our service, Social Health Online, we make it fun and easy to receive rewards by connecting
      with people and attending social events.
    %h5.font-weight-bold
      Make your social life more rewarding with Social Health.

.container
  .row.py-5
    .col.text-center
      = image_tag 'social.svg', height: '70'
      %h5.brand-primary Meet.
    .col.text-center
      = image_tag 'handshake.svg', height: '70'
      %h5.brand-primary Greet.
    .col.text-center
      = image_tag 'total-cart.svg', height: '70'
      %h5.brand-primary Benefit.
