.main-container
  #hero
    .container
      %h1.mb-4.text-light.text-center
        Make your social life more rewarding with Social Health.
      %h3.text-light.text-center
        Social Health is dedicated to improving the wellness of people and their communities by promoting
        healthier social lives with rewards and incentives.
      %p.pt-3.text-center.mt-3
        = link_to 'Request Free Demo Account', contact_path, class: 'btn btn-lg btn-info', style: 'border: 1px solid black;'

  %section.space-xs.text-center.bg-white{:style => 'border-top: 1px solid black;'}
    .container
      .row
        .col.text-center
          = link_to image_tag('social.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Meet' }>
              %strong Meet.
          %span Attend or host social events.
        .col.text-center
          = link_to image_tag('handshake.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Meet' }>
              %strong Greet.
          %span Develop relationships with others at events.
        .col.text-center
          = link_to image_tag('total-cart.svg', height: '70'), service_path
          %h5.text-info
            %a{ href: service_path, title: 'Meet' }>
              %Strong Benefit.
          %span Log your involvement in events for rewards.
