#hero
  .container
    .row
      .col.pt-5
        %p.h3
          Social Health is dedicated to improving the wellness of people and their communities by
          promoting healthier social lives.
        %p.h6
          Because socialization and companionship are essential parts of a healthy social life, Social
          Health Online is being offered by Social Health to provide all people access to a service
          that incentivizes greater participation in social events and encourages the building of relationships.
        %p.h6
          Social Health Online offers numerous features and benefits for the organizations and individuals
          that use it, and it makes it fun and easy to connect to people and social events for the receipt
          of rewards. Building relationships has never been so enriching!
        %p.h6
          Make your social life more rewarding with Social Health.
