#hero
  .container
    .row
      .col-lg-6.pt-5
        %p.lead
          Social Health is dedicated to improving the wellness of people and their communities by
          promoting healthier social lives.
        %p
          Because socialization and companionship are essential parts of a healthy life, Social Health
          Online is being offered by Social Health to provide all people with easy access to a service
          that incentivizes the pursuit of greater participation in social events to encourage the
          building of more relationships.
        %p
          Social Health Online offers numerous features and benefits for the organizations and people
          that use it, and it makes it fun and easy to connect to people and social events for the
          receipt of rewards. Building relationships has never been so enriching!
        %p
          Make your social life more rewarding with Social Health.
