- page_title 'Joining'

.container
  .row
    .col.py-5
      %h2.text-info Joining

      %p.h5 Joining with the Member Locator
      %p
        Joining our service is easy and will bring a variety of benefits to your life. By joining with our Member 
        Locator, in addition to getting access to all of the service's features your enrollment could potentially cost you
        nothing. People interested in enrolling as Users with access to the full Social Health Online experience can do so 
        in three steps:
        %ol
          %li.mb-2
            Go to the Membership page on our website, use the Member Locator, and look for a nearby
            organization you associate with, such as an employer, healthcare provider, or community center.
          %li.mb-2
            Contact one or more of these Members and ask if they are enrolling new Users.
          %li
            After locating a Member that is accepting new Users, enroll with them and get started in the service.
      %p
        If Social Health has Members located in your area yet the organizations you associate with are
        not listed in the Member Locator, get in touch with your organizations and express your desire
        for them to collaborate with us.
      .text-center.brand-primary.mb-2
        %i.fas.fa-search.fa-5x

      %p.h5 Joining without the Member Locator
      %p
        We want all people to have access to the full spectrum of our service’s features and benefits,
        so we are working hard to grow our network of Members as quickly as possible. This growth is
        a gradual process that leaves many people beyond our Member Locator's range. Some people might be 
        in areas where we have Members, yet no organization is able to enroll more Users. Because 
        we are committed to giving everybody the chance to improve their wellness through Social
        Health Online without delay, we are offering individuals the option to register for User accounts
        through our website. 
        
      %blockquote.blockquote
        %p.h4.text-info "...we are offering individuals the option to register for User accounts through our website."
