.container
  .row
    .col.py-5
      %h2.brand-primary Join Up

      %p.lead Three Easy Steps for Joining
      %p
        Joining our service is easy and will bring a variety of benefits to your life! People interested
        in enrolling as Users can do so in three steps:
        %ol
          %li
            Go to our website, use the Partner Locator, and look for an organization you associate
            with, such as an employer or healthcare provider, that is hosting User accounts.
          %li
            Contact one or more of these organizations and ask if they are enrolling new Users.
          %li
            After locating an organization that is accepting new Users, enroll with them and get started
            in the service.
      %p
        If the organizations you associate with are not listed as Customers that host User accounts
        in our Partner Locator, contact a representative of one of the organizations and express your
        desire for them to collaborate with us so that you may enroll in our service.

      %p.lead Social Helper Program
      %p
        We firmly stand by our view that volunteering benefits everyone. We recognize the vital role
        volunteers play in improving their communities and know that we can get many more people to
        be socially active by supporting the efforts of those who regularly make personal sacrifices
        for promoting the greater good.
      %p
        To help others adopt this viewpoint, we have incorporated our Social Helper Program into Social
        Health Online. Through our Social Helper Program, we encourage people who are interested in
        volunteering in their community to contact the Customers in our Partner Locator that have
        volunteer programs utilizing our service to see if they're enrolling new Volunteer Users. If
        these Customers enroll a Volunteer User, that Volunteer User will receive the same types of
        benefits as all other Users in our service, including access to the sweepstakes for Amazon
        eGift Cards.
