- page_title 'Joining'

.container
  .row
    .col.pt-3.pb-1
      %h1.text-info User Enrollment

      %p.h5 What's in it for Users?
      %p
        Modern life is busy and complex so sometimes we neglect the things that keep us happy and healthy. Maintaining meaningful and robust
        social lives is just as important as diet and exercise, yet this essential aspect of our life is often overlooked.
        Social Health is devoted to supporting our Users' wellness and wants to make it easier for people to meet their social needs because
        of the direct connection between their health and relationships with others.

      %p
        Our Users are at the center of our service, so we have simplified the process of finding and creating social
        activities to promote the development of relationships.
        Additionally, we incentivize and reward participation in social events to encourage healthier behaviors.

      %p
        We hope that you take the opportunity to join as a User to make your social life more rewarding.
  .row
    .col.pt-4.pb-2
      %blockquote.blockquote
        %p.h4.text-info.font-weight-bold "Maintaining meaningful and robust social lives is just as important as diet and exercise..."
  .row
    .col.pt-1.pb-3
      %p.h5 Joining with the Member Locator
      %p
        Joining our service is easy and will bring a variety of benefits to your life.
        People interested in enrolling as Users with  Social Health Online can do so
        in three steps:
        %ol
          %li.mb-2
            Go to the&nbsp;
            %a{ href: member_locator_path, title: "Member Locator" }> Member Locator
            &nbspand look for a nearby
            organization you associate with, such as an employer, healthcare provider, or community center.
          %li.mb-2
            Contact one or more of these Members and ask if they are enrolling new Users.
          %li
            After locating a Member that is accepting new Users, enroll with them and get started in the service.
      %p.mb-3
        If Social Health has Members located in your area yet the organizations you associate with are
        not listed in the Member Locator, get in touch with those organizations and express your desire
        for them to collaborate with us.
