- page_title 'Joining'

.container
  .row
    .col.py-5
      %h2.text-info Joining

      %p.h5 Joining with the Member Locator
      %p
        Joining our service is easy and will bring a variety of benefits to your life.
        People interested in enrolling as Users with  Social Health Online can do so 
        in three steps:
        %ol
          %li.mb-2
            Go to the Membership page, use the Member Locator, and look for a nearby
            organization you associate with, such as an employer, healthcare provider, or community center.
          %li.mb-2
            Contact one or more of these Members and ask if they are enrolling new Users.
          %li
            After locating a Member that is accepting new Users, enroll with them and get started in the service.
      %p
        If Social Health has Members located in your area yet the organizations you associate with are
        not listed in the Member Locator, get in touch with your organizations and express your desire
        for them to collaborate with us.
      .text-center.brand-primary.mb-2
        %i.fas.fa-search.fa-5x

