.container
  .row
    .col.py-5
      %h2.brand-primary Join Up

      %p.h4 Three Easy Steps for Joining
      %p
        Joining our service is easy and will bring a variety of benefits to your life! People interested
        in enrolling as Users can do so in three steps:
        %ol
          %li.mb-4
            Go to our website, use the Partner Locator, and look for an organization you associate
            with, such as an employer or healthcare provider, that is hosting User accounts.
          %li.mb-4
            Contact one or more of these organizations and ask if they are enrolling new Users.
          %li
            After locating an organization that is accepting new Users, enroll with them and get started
            in the service.
      %p
        If the organizations you associate with are not listed as Customers that host User accounts
        in our Partner Locator, contact a representative of one of the organizations and express your
        desire for them to collaborate with us so that you may enroll in our service.
