- page_title 'News'

.container
  .row.py-3
    .col-lg
      %h1.text-info News

      - @news.each do |news|
        .mb-3
          %p.h5.mb-0= news.title
          %p.border-bottom= time_in_cdt(news.updated_at, '%m/%d/%Y')
          %p= simple_format(news.body)
      %p= paginate @news
