- page_title 'News'

.container
  .row.py-5
    .col-lg
      %h2.text-info News
      %p.lead The Beta version of Social Health Online is launching June 2018. More news from Social Health is coming soon!
