- page_title 'Pricing'

.container
  .row
    .col.py-5
      %h2.text-info Member Account Pricing
      %p
        Organizations can become Members through our website to deliver the full Social Health Online
        experience by hosting Users and managing Communities to improve people's social wellness.
      %p.pb-3
        A minimum purchase order of 5 User accounts is required. Subscriptions may be prorated and
        they will renew automatically at the end of the current calendar year unless cancellation is
        requested at least 30-days prior to the end of the service term. Members may choose to recoup
        subscription costs from the Users they host. Members that pay for their subscriptions upfront
        with one lump-sum payment receive a 3% discount and those that renew their subscriptions receive
        5% loyalty discounts. No refunds are provided.

      %h2.text-info Individual User Account Pricing
      %p
        Individuals can become Users through our website to immediately access Social Health Online.
        However, individuals who become Users this way won't have an actively-managed Community and
        they may be in areas with narrow networks of service participants.
      %p
        Subscriptions may be prorated and they will renew automatically at the end of the current calendar
        year unless cancellation is requested at least 30-days prior to the end of the service term.
        Individuals who pay for their subscriptions upfront with one lump-sum payment receive a 3%
        discount and those that renew their subscriptions receive 5% loyalty discounts. No refunds
        are provided.
