- page_title 'Pricing'

.container
  .row
    .col.pt-5.pb-3
      %h2.text-info Pricing
  .row
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 5 - 50 Users
          %span.display-3.price-collapse.collapse.show $6
          %span.text-small per user / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 51 - 100 Users
          %span.display-3 $5
          %span.text-small per user / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body
          %h5 > 100 Users
          %span.display-3 $4
          %span.text-small per user / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
  .row
    .col
      %p
        Organizations can become Members through our website to host users and manage communities in Social Health Online
        to support people's social wellness.
      %p.pb-3
        A minimum purchase order of 5 User accounts is required. Subscriptions will renew automatically 
        at the end of the annual service term unless cancellation is requested at least 30 days prior to renewal.
        Members may choose to recoup subscription costs from the Users they host. Members that pay for their 
        subscriptions upfront with one lump-sum payment receive a 3% discount. To ensure all Users have access
        to sweepstakes drawings, all new accounts are activated and billed on the first of the month following account
        registration. No refunds are provided.

