- page_title 'Pricing'

.container
  .row
    .col.py-3
      %h1.text-info Pricing

      %p.h3 Plans for All Organizations
        
      %p
      Organizations can become Members by purchasing subscriptions through
      our website to host Users and manage Communities in Social Health Online.

  .row
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 5 - 100 Users
          %span.display-3.price-collapse.collapse.show $6
          %span.text-small per User / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 101 - 250 Users
          %span.display-3 $5
          %span.text-small per User / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
    .col-md-6.col-lg-4
      .card.pricing.card-lg
        .card-body.border
          %h5 > 250 Users
          %span.display-3 $4
          %span.text-small per User / month
          %span.h6 Annual Subscription
          = link_to 'Get Started', contact_path, class: 'btn btn-lg btn-info'
  .row
    .col

      %p
        A minimum purchase order of 5 User accounts is required. Subscriptions will renew automatically
        at the end of the annual service term unless cancellation is requested at least 30 days prior to renewal.
        Members may choose to recoup subscription costs from the Users they host. Members that pay for their
        subscriptions upfront with one lump-sum payment receive a 3% discount. There are no setup fees.

      %p.pb-3
        If a Member chooses to end their contract with Social Health, their Users will not be able to benefit from
        any sweepstakes drawings after cancellation.
        If you are not satisfied with the service during the first month of your subscription,
        you may cancel your contract without penalty. If you have paid the entire subscription cost upfront,
        the remaining balance will be refunded. No other refunds are provided.
