- page_title 'Pricing'

.container
  .row
    .col.py-5
      %h2.text-info Customer Account Pricing
      %p
        Organizations become Customers to deliver the full Social Health Online experience by hosting
        Users and managing Communities to improve people's wellness through the shaping and rewarding
        of healthier social lives.
      %p
        A minimum purchase order of 5 User accounts is required. Subscriptions may be prorated and
        they will renew automatically at the end of the current calendar year unless cancellation is
        requested at least 30-days prior to the end of the service term. Customers may choose to
        recoup subscription costs from the Users they host. Customers that pay for their subscriptions
        upfront with one lump-sum payment receive a 3% discount and those that renew their subscriptions
        receive 5% loyalty discounts. No refunds are provided.
