- page_title 'Our Service'

.container.our-services
  .row
    .col.py-5
      %h2.text-info Our Service

      %p.h5 Features
      %ul
        %li
          Social Health Online is designed to incentivize the building of relationships and reward the
          efforts Users make towards improving their wellness when they participate in social events or 
          discounts.
        %li
          Members can shape healthier behaviors by guiding social information to Users they host in online
          "Communities," and Affiliates can link Users to local social events, while Users also have the
          ability to promote their own engagements.
        %li
          Profiling and messaging systems that facilitate personal interactions while also providing
          Users with anonymity are offered to ensure all participants can have the most profound and
          satisfying experiences.
      .text-center.brand-primary.mb-2
        %i.fas.fa-clipboard-check.fa-5x

      %p.h5 Benefits
      %ul
        %li
          Enhanced personal satisfaction and health improvements will result for Users as they elevate
          their lifestyles and behaviors through positive social changes.
        %li
          Reduced healthcare costs for all participants is possible because, as lifestyles and behaviors
          improve, fewer interventions will be needed to address symptoms and complications linked to
          social disconnection.
        %li
          Members' and Affiliates' community relationships and reputations are heightened via their 
          support of the Users.
      .text-center.brand-primary.mb-2
        %i.fas.fa-heart.fa-5x

      %p.h5 Rewards and Incentives
      %p
        Behaviors and lifestyles directly affect people's wellness, and using rewards and incentives
        is a cost-effective way to influence actions that is already proven in multiple sectors
        (e.g., retail and healthcare). Because of their established value, many rewards and incentives
        are provided through Social Health Online to stimulate positive social changes, including:
      %ul
        %li
          Users are automatically entered in a variety of monthly and annual sweepstakes for Amazon
          eGift Cards when they log their participation in social events.
        %li
          Each Member organization is guaranteed to have at least one sweepstakes winner every month.
        %li
          Every month a Member and Affiliate are highlighted in our newsletter.
      .text-center.brand-primary.mb-2
        %i.fas.fa-dollar-sign.fa-5x

      %p.h5 Reporting
      %p
        Social Health considers the collection and review of service-related data in business reports
        to be of great importance because this process not only verifies the success of Social Health
        Online, but also it allows us to see how we can improve.
      %p
        Because of this philosophy, Members are given the ability to pull data from the service and
        observe their Users' level of participation with social events. Also, all Members and Users
        will receive quarterly User Feedback Reports from Social Health containing the results of
        anonymous surveys we send to randomly selected Users. Additionally, our Social Fitness 
        self-assessment to easily track their progress towards the wellness achievements they want 
        and deserve.
      .text-center.brand-primary.mb-2
        %i.fas.fa-file-alt.fa-5x

      %p.h5 Privacy, Security, and Fairness
      %p
        Our stand-alone service is not part of a group health plan, does not collect or use medical
        data, and does not fall under the HIPAA rules, but we have incorporated safeguards and business
        practices to ensure full compliance with all applicable laws and regulations. Additionally,
        we perform quarterly audits to detect and address service misuse.
      %p
        Our service does not include the provision of medical care, is a voluntary participatory
        service offered to all people regardless of their health, and none of the conditions for obtaining
        rewards require Users to satisfy a standard related to a particular health factor. Social Health
        Online offers benefits to all active Users, regardless of their level of involvement.
      .text-center.brand-primary.mb-2
        %i.fas.fa-lock.fa-5x
