- page_title 'Service Screenshots'

.container.our-services
  .row
    .col.py-3
      %h1.text-info Service Screenshots

  .row
    .col-md-6.d-none.d-md-block
      .card
        %img.card-img-top.img-responsive{ src: "https://placekitten.com/600/400"}
        .card-body
          %p.card-text This is a cat that's only visible on larger screens!
    .col-md-6.d-none.d-md-block
      .card
        %img.card-img-top.img-responsive{ src: "https://placekitten.com/600/400"}
        .card-body
          %p.card-text This is a cat that's only visible on larger screens!

    .col-sm-12.d-md-none
      .card
        %img.card-img-top.img-responsive{ src: "https://placekitten.com/600/500"}
        .card-body
          %p.card-text This is a cat that's only visible on smaller screens!
    .col-sm-12.d-md-none
      .card
        %img.card-img-top.img-responsive{ src: "https://placekitten.com/600/500"}
        .card-body
          %p.card-text This is a cat that's only visible on smaller screens!
