- page_title 'Our Service'

.container
  .row
    .col.py-5
      %h2.text-info Our Service

      %p.h4 Features
      %p
        Social Health Online is designed to incentivize the building of relationships and reward the
        efforts Users make towards improving their wellness when they participate in social events.
        Customers can shape healthier behaviors by guiding social information to Users in online "Communities,"
        and Affiliates can link Users to local social events, while Users also have the ability to promote
        their own engagements. Profiling and messaging systems that facilitate personal interactions
        while also providing Users with anonymity are offered to ensure all participants can have the
        most profound and satisfying experiences.

      %p.h4 Benefits
      %p
        Enhanced personal satisfaction and health improvements will result for Users as they elevate
        their lifestyles and behaviors through positive social changes. Reduced healthcare costs for
        all participants is possible because, as lifestyles and behaviors improve, fewer interventions
        will be needed to address symptoms and complications linked to social isolation and loneliness.
        Customers' and Affiliates' organizational reputations are heightened via their support of the Users.

      %p.h4 Rewards and Incentives
      %p
        Behaviors and lifestyles directly affect peoples' wellness, and using incentives is a cost-effective
        way to influence actions that is already proven in multiple sectors (e.g., retail and healthcare).
        Therefore, many rewards and incentives are provided through Social Health Online to stimulate
        positive social changes, including:
        %ul
          %li.mb-4
            Users are automatically entered in a variety of monthly and annual sweepstakes for Amazon
            eGift Cards when they log their participation in social events.
          %li.mb-4
            Each Customer is guaranteed to have at least one sweepstakes winner every month.
          %li
            Every month a Customer and Affiliate are selected to have their organizations highlighted
            in our newsletter.

      %p.h4 Reporting
      %p
        Social Health considers the collection and review of service-related data in business reports
        to be of great value because this process not only verifies the success of Social Health Online,
        but also it allows us to see how we can improve. Because of this philosophy, Customers are given
        the ability to pull data from the service and observe their Users' level of participation with
        social events. Also, all Customers and Users will receive quarterly User Feedback Reports from
        Social Health containing the results of anonymous surveys we send to randomly selected Users.

      %p.h4 Privacy, Security, and Fairness
      %p
        Our stand-alone service is not part of a group health plan, does not collect or use medical
        data, and does not fall under the HIPAA rules, but we have incorporated safeguards and business
        practices to ensure full compliance with all applicable laws and regulations. Additionally,
        we perform quarterly audits to detect and address service misuse. Our service does not include
        the provision of medical care, is a voluntary participatory service offered to all people
        regardless of their health, and none of the conditions for obtaining rewards require Users
        to satisfy a standard related to a particular health factor. Social Health Online offers
        benefits to all active Users, regardless of their level of involvement.
