- page_title 'Our Service'

.container.our-services
  .row
    .col.py-3
      %h1.text-info Service Information

      %p.h5 Why Social Health Online?

      %p
        Mounting evidence illustrates the trend of people becoming more socially disconnected. Additionally, research
        shows a direct link exists between the strength of a person's social relationships and their mental
        and physical health. The following articles highlight examples of the many studies connecting people's wellness to their social lives: 

        %ul
          %li
            %a{ href: 'https://www.health.harvard.edu/staying-healthy/staying-connected-can-improve-your-health.',
               title: 'Staying connected can improve your health', target: '_blank' }> "Staying connected can improve your health" - Harvard Medical School
          %li
            %a{ href: 'http://www.bostonglobe.com/magazine/2017/03/09/the-biggest-threat-facing-middle-age-men-isn-smoking-obesity-loneliness/k6saC9FnnHQCUbf5mJ8okL/story.html',
               title: 'The biggest threat facing middle-age men isn’t smoking or obesity. It’s loneliness.',
               target: '_blank' }> "The biggest threat facing middle-age men isn’t smoking or obesity. It’s loneliness." - Boston Globe
          %li
            %a{ href: 'http://time.com/3747784/loneliness-mortality/',
               title: 'Why Loneliness May Be the Next Big Public-Health Issue',
               target: '_blank' }> "Why Loneliness May Be the Next Big Public-Health Issue" - Time Magazine

        Social Health Online was created as a response to the growing need for a wellness service that supports the development of relationships between people.
        
      %p.h5 How Social Health Online Works

      %p
        Social Health Online is a wellness service with an ecosystem comprised of Members, Affiliates, 
        and Users. Our service streamlines the arrangement of meetups and rewards Users when they participate
        in social events, which includes virtually all in-person activities between two or more people.
        A network of Members provides support to the service by hosting User accounts. Our Affiliates
        contribute by sharing their social event information and discounts. 

      %p
        To acquire rewards with Social Health Online, Users participate in social events that
        they either discover through the service or on their own and then log their participation in
        their Social Tracker. As the Users' logged social event tallies increase, they receive recognition
        for their efforts and are automatically entered into sweepstakes. Social events can be located, created, and logged
        quickly at the Users' convenience to minimize the time they spend online supporting the development of their
        social lives offline.

.container
  .row.justify-content-center
    .col-lg-4
      .card.pricing.card-lg
        .card-header
          %h3 Members
        .card-body.brand-primary
          %i.fas.fa-building.fa-5x
        .card-footer.text-left
          Members are organizations that register with us to host and manage Communities of Users in the service.
    .col-lg-4
      .card.pricing.card-lg
        .card-header
          %h3 Users
        .card-body.brand-primary
          %i.fas.fa-user-circle.fa-5x
        .card-footer.text-left
          Users are the people who utilize the service to share, participate in, and log social events.
    .col-lg-4
      .card.pricing.card-lg
        .card-header
          %h3 Affiliates
        .card-body.brand-primary.pb-4
          %i.fas.fa-store-alt.fa-5x
        .card-footer.text-left
          Affiliates are organizations that link their event information and/or providediscounts to Users.
