- page_title 'Service Screenshots'

.container.our-services
  .row
    .col.py-3
      %h1.text-info Service Screenshots

  .row
    .col-md-6.d-none.d-md-block
      .card
        %img.card-img-top.img-responsive
          = image_tag "community_laptop.png"
        .card-body.text-center
          %p.card-text This is a community placeholder.
    .col-md-6.d-none.d-md-block
      .card
        %img.card-img-top.img-responsive
          = image_tag "community_phone.png"
        .card-body.text-center
          %p.card-text This is a community placeholder.

    .col-sm-12.d-md-none
      .card
        %img.card-img-top.img-responsive
          = image_tag "home_laptop.png"
        .card-body.text-center
          %p.card-text This is a home placeholder.
    .col-sm-12.d-md-none
      .card
        %img.card-img-top.img-responsive
          = image_tag "home_phone.png"
        .card-body.text-center
          %p.card-text This is a home placeholder.
