- page_title 'Support'

.container
  .row
    .col.py-3
      %h1.text-info Support

      %p.h3 Tutorials

  .row
    .col.pb-3
      .embed-responsive.embed-responsive-16by9{ :style => "border: 2px solid black;" }
        %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/l5MSrXyxYDk?rel=0", :frameborder => "0", :allow => "encrypted-media" }

  .row
    .col.pb-3
      .embed-responsive.embed-responsive-16by9{ :style => "border: 2px solid black;" }
        %iframe.embed-responsive-item{ :src => "https://www.youtube.com/embed/2jbSe8by89w?krel=0", :frameborder => "0", :allow => "encrypted-media" }

.container
  .row
    .col.mb-3.text-center
      %p Need service support?
      %a{ href: contact_path, title: "Contact" }> Contact us!

.container
  .row
    .col.mb-3.text-center
      %p
        The videos on this page are offered for support purposes only and may not depict the service's current form due to ongoing enhancements.
