- page_title 'Support'

.container.support
  .row
    .col.py-5
      %h2.text-info Support

      %p.h5 Tutorials

      %p.h5 Documents
      %p
        %ul
          %li
            %a{ href: 'https://docs.google.com/document/d/19pqzln-5idx9aHBIKzJ3Ah_ZVRM-US0I1DXdfeRy2Po/edit?usp=sharing',
               title: 'Affiliate Agreement',
               target: '_blank'}> Affiliate Agreement
          %li
            %a{ href: 'https://docs.google.com/document/d/19pqzln-5idx9aHBIKzJ3Ah_ZVRM-US0I1DXdfeRy2Po/edit?usp=sharing',
               title: 'SaaS Terms of Service',
               target: '_blank'}> SaaS Terms of Service
      

