.container
  .row
    .col.pt-3
      %h1.text-info.text-center Terms & Conditions of Use
  .row
    .col.py-3
      %p
        These Terms & Conditions of Use (“Terms”) govern your access to and use of Social Health Online, our
        various websites, SMS, APIs, email notifications, applications, buttons, widgets, ads, and our other
        covered services that link to these Terms (collectively, the “Services”), and any information, text,
        links, graphics, photos, videos, or other materials or arrangements of materials uploaded, downloaded
        or appearing on the Services (collectively referred to as “Content”).
      %p
        By using the Services, you agree to be bound by Social Health, LLC’s (“Social Health”) Terms (“Agreement”).
        This Agreement between you and Social Health does not limit or restrict the enforcement of other
        rules, guidelines, or agreements established between you and Social Health.
      %p
        <strong>Who May Use the Services:</strong> You may use the Services only if you are not a person barred
        from receiving services under the laws of the applicable jurisdiction. You must also reside in the
        United States of America (“United States”) and be at least nineteen (19) years old to use the Services.
      %p
        If you are accepting these Terms and using the Services on behalf of a company, organization, government, or
        other legal entity, you represent and warrant that you are authorized to do so. Additionally, by accepting the
        Terms, you consent to the use of electronic records and give Social Health permission to provide records
        electronically instead of in paper form. However, you are entitled to receive certain records, such as copies
        of your billing statements, in paper form upon request.
      %p
        <strong>Privacy:</strong> Our Privacy Policy (https://socialhealthonline.com/privacy) describes how we handle
        the information you provide to us when you use our Services. You understand that through your use of the
        Services you consent to the collection and use (as set forth in the Privacy Policy) of this information, including
        the transfer of this information to our associates for storage, processing, and use.
      %p
        All Members and Affiliates will be listed in either the Member Locator or the Affiliate Locator on Social Health’s
        homepage by default to showcase organizations that are hosting Users and to provide information regarding events
        and/or discounts on goods and services. However, any Member or Affiliate that does not wish for their organization
        to be displayed on our homepage in either the Member Locator or Affiliate Locator may contact us at
        support@socialhealthonline.com and request for their information to be removed from these public lists.
      %p
        <strong>Content on the Services:</strong> You are responsible for your use of the Services and for any Content you
        provide, including compliance with applicable laws, rules, and regulations. You should only provide Content that you
        are comfortable sharing with others.
      %p
        Any use or reliance on any Content or materials posted via the Services or obtained by you through the Services is
        at your own risk. We do not endorse, support, represent or guarantee the completeness, truthfulness, accuracy, or
        reliability of any Content or communications posted via the Services or endorse any opinions expressed via the Services.
        You understand that, by using the Services, you may be exposed to Content that might be offensive, harmful, inaccurate
        or otherwise inappropriate, or in some cases, postings that have been mislabeled or are otherwise deceptive. All
        Content is the sole responsibility of the person or entity who originated such Content and we cannot take responsibility
        for such Content posted via the Services.
      %p
        Social Health respects the intellectual property rights of others and expects Users of the Services to do the same. We
        reserve the right to remove Content alleged to be infringing without prior notice, at our sole discretion, and without
        liability to you. We will respond to notices of alleged copyright infringement that comply with applicable law and are
        properly provided to us. If you believe that your Content has been copied in a way that constitutes copyright infringement,
        please report this by contacting us at the following address:
      %p
        Social Health
        %br
        Attn: Copyright Infringement
        %br
        500 Southland Drive, Suite 127
        %br
        Birmingham, AL 35226
      %p
        <strong>Your Rights:</strong> You retain your rights to any Content you submit, post, or display
        on or through the Services, so you own your Content. By submitting, posting or displaying Content
        on or through the Services, you grant us a worldwide, non-exclusive, royalty-free license (with the
        right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display and
        distribute such Content in any and all media or distribution methods (now known or later developed).
        You agree that this license includes the right for Social Health to provide, promote, and improve
        the Services and to make Content submitted to or through the Services available to other companies,
        organizations or individuals for the syndication, broadcast, distribution, promotion or publication
        of such Content on other media and services, subject to our terms and conditions for such Content
        use. Such additional uses by Social Health, or other companies, organizations or individuals, may
        be made with no compensation paid to you with respect to the Content that you submit, post, transmit
        or otherwise make available through the Services.
      %p
        Social Health has an evolving set of rules for how others can interact with your Content on the Services.
        These rules exist to enable an open yet secure ecosystem online with your rights in mind. You understand
        that we may modify or adapt your Content as it is distributed, syndicated, published, or broadcast by us
        and our partners and/or make changes to your Content in order to adapt the Content to different media.
        You represent and warrant that you have all the rights, power and authority necessary to grant the rights
        granted herein to any Content that you submit.
      %p
        <strong>Using the Services:</strong> Please review all available documentation regarding the Services’
        rules and policies to become fully informed about what is prohibited on the Services. You may use the
        Services only in compliance with these Terms and all applicable agreements, policies, laws, rules, and
        regulations.
      %p
        Our Services are constantly developing in new ways. As such, the Services may change from time to time, at
        our discretion. We may stop (permanently or temporarily) providing the Services or any features within the
        Services to you specifically or to the Members and/or Users generally. We also retain the right to create
        limits on use and storage at our sole discretion at any time. We may also remove or refuse to distribute any
        Content on the Services, suspend or terminate Members and/or Users, etc. without liability to you.
      %p
        You agree not to misuse our Services, for example, by interfering with them or accessing them using a method
        other than the interface and the instructions that we provide. You may not do any of the following while
        accessing or using the Services: (i) harass other Users, (ii) access, tamper with, or otherwise use Social
        Health’s computer systems or technical delivery systems, (iii) probe, scan, or test the vulnerability of any
        system or network or breach or circumvent any security or authentication measures, (iv) access or search or
        attempt to access or search the Services by any means (automated or otherwise) other than through our currently
        available, published interfaces that are provided by Social Health (and only pursuant to the applicable terms and
        conditions), unless you have been specifically allowed to do so in a separate agreement with Social
        Health, (v) forge any TCP/IP packet header or any part of the header information in any email or posting, or
        in any way use the Services to send altered, deceptive or false source-identifying information, or (vi) interfere
        with, or disrupt, (or attempt to do so), the access of any User, host or network, including, without limitation,
        sending a virus, overloading, flooding, spamming, mail-bombing the Services, or by scripting the creation of
        Content in such a manner as to interfere with or create an undue burden on the Services. We also reserve the
        right to access, read, preserve, and disclose any information as we reasonably believe is necessary
        to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce the Terms, including
        investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or
        technical issues, (iv) respond to User support requests, or (v) protect the rights, property or safety of Social
        Health, its Users and the public. Social Health does not disclose personally-identifying information to third
        parties except in accordance with our Privacy Policy.
      %p
        <strong>Your User Account:</strong> You are responsible for safeguarding your User account, so use a strong
        password and limit its use to your User account. We cannot and will not be liable for any loss or damage arising
        from your failure to comply with the above. We may need to provide you with certain communications, such as service
        announcements, administrative messages, and surveys. These communications are considered part of the Services and
        your User account, and you may not be able to opt-out from receiving them. The User accounts are designed for individual
        use only, so a User account may not be shared amongst multiple people.
      %p
        <strong>Sweepstakes, Contests, and Rewards:</strong> Only Users are eligible for entry in Social Health’s
        sweepstakes. All Social Health employees are excluded from sweepstakes.
      %p
        For a User account to be deemed “active” for the sweepstakes, a User must log their participation in at least one
        social event in Social Health Online each month. “Social events” comprises virtually all lawful activities involving
        live interactions between two or more people. Only one logged entry per User for each social event is valid for
        sweepstakes. There is no guarantee that any particular User will win rewards after engaging in and logging social
        events.
      %p
        “Incidental interactions” between a User and other people do not constitute valid social events for the purposes of
        the sweepstakes. Incidental interactions are the minor or casual interactions that may occur between two or more
        people on a daily basis involving insignificant communications or exchanges that are not substantial enough to be
        deemed social events. This includes, but is not limited to, situations where a User communicates with a clerk when
        making store purchases or speaks with others to perform their minimally required duties at their workplace. Additionally,
        private interactions that occur strictly between Users and their immediate family members are not deemed valid social
        events for the sweepstakes.
      %p
        Only the social events that are logged in a current calendar month will be considered valid for the sweepstakes for that
        month. No social events logged prospectively for planned future activities or retroactively for prior months activities
        are considered valid for any sweepstakes. Social events must be participated in and logged by 11:59 PM CST on the final
        day of any given calendar month to be deemed valid for that month.
      %p
        All sweepstakes winners for a given month will be selected within the first calendar week of the following month. All
        sweepstakes winners will be notified by Social Health, and their rewards will be delivered, the same week the winners are
        selected. Member organizations will also be notified the week a User they host is selected as a sweepstakes winner. No
        reward has a monetary value exceeding $500. Each User is limited to winning $500 in rewards and prizes annually. If a
        User wins a reward that would exceed the $500 annual limit, then another User will be selected as a winner for the reward
        that exceeds the $500 annual limit. Users may only win each type of sweepstakes once per month (e.g., a User may not win
        two Active User Prizes in one month).
      %p
        In Social Health Online, the Members and Users will be provided with access to a list of the sweepstakes, their rules,
        and rewards that are present each year. This list and rules are subject to change every year.
      %p
        Each Member organization has its own discrete series of sweepstakes to provide a fair and proportional chance for Users
        to win rewards in all locations. Sweepstakes drawings occur according to their listed frequency in the sweepstakes list.
        Members and Users shall be responsible for all taxes associated with the sweepstakes and rewards. The monthly sweepstakes
        announcements will act as the sole notification to the Members and Users of any winnings prior to the delivery of rewards
        and will provide sufficient information for all parties to prepare for and address all tax implications of the rewards.
      %p
        NO PURCHASE IS NECESSARY TO ENTER OR WIN, AND A PURCHASE OR PAYMENT WILL NOT INCREASE THE CHANCES OF WINNING THE
        SWEEPSTAKES. IF ANY SOCIAL EVENTS ASSOCIATED WITH THE SWEEPSTAKES INVOLVE OR REQUIRE ANY PAYMENTS, THE USERS WILL
        BE PROVIDED WITH AN ALTERNATIVE METHOD OF ENTRY INTO THE SWEEPSTAKES THAT WILL NOT INVOLVE OR REQUIRE ANY PAYMENTS.
        VOID WHERE PROHIBITED OR RESTRICTED BY LAW.
      %p
        Neither Social Health nor its Members may request any Users to provide any form of consideration for entry in the
        sweepstakes.
      %p
        It is crucial for Users to maintain up-to-date contact information in the Services because Social Health relies
        on that information to deliver the rewards. If a User is unable to receive a reward because they have provided
        invalid contact information, then they have forfeited any right to receive the reward and another User will be selected
        as the winner.
      %p
        Social Health also offers contests with rewards for the benefit of Users. Members and Users will be provided with
        the rules for all contests before and during the execution of the contests. The provision of rewards related to
        contests will follow the same guidelines in the Terms regarding the provision of rewards related to sweepstakes.
      %p
        All prizes are delivered in the form of Amazon eGift Cards. An Amazon account must be created and maintained by
        Users to redeem the gift cards for purchases.
      %p
        <strong>Your License to Use the Services:</strong> Social Health gives you a personal, worldwide, royalty-free,
        non-assignable and non-exclusive license to use the software provided to you as part of the Services. This
        license has the sole purpose of enabling you to use and enjoy the benefit of the Services as provided by Social
        Health, in the manner permitted by these Terms.
      %p
        The Services are protected by copyright, trademark, and other laws of both the United States and foreign countries.
        Nothing in the Terms gives you a right to use the Social Health name or any of the Social Health trademarks,
        logos, domain names, and other distinctive brand features. All right, title, and interest in and to the
        Services (excluding Content provided by Members and Users) are and will remain the exclusive property of Social
        Health and its licensors. Any feedback, comments, or suggestions you may provide regarding Social Health, or the
        Services is entirely voluntary, and we will be free to use such feedback, comments or suggestions as we see fit
        and without any obligation to you.
      %p
        <strong>Ending These Terms:</strong> Users (excluding the Members’ primary administrative/managerial Users and
        those with User accounts hosted by Social Health) may end their relationship with Social Health at any time by
        deactivating their respective User account and discontinuing their use of the Services. By contacting the
        organization hosting your User account, you can receive assistance with deactivating your User account. Read our
        Privacy Policy for more information on what happens to your information upon User account deactivation.
      %p
        We may suspend or terminate your User account or cease providing you with all or part of the Services at any
        time for any or no reason, including, but not limited to, if we reasonably believe: (i) you have violated these
        Terms, (ii) you create risk, engage in illegal activities, or generate possible legal exposure for us, (iii) your
        User account should be removed due to prolonged inactivity, or (iv) our provision of the Services to you is no
        longer commercially viable. We will make reasonable efforts to notify you of account access changes by the email
        address associated with your User account or the next time you attempt to access your User account, depending on
        the circumstances.
      %p
        Organizations that wish to terminate their Member or Affiliate status and end their relationship with Social Health
        must do so in writing. An organization’s Affiliate status termination will be effective within two (2) business days
        after a request is received. A Member may elect to immediately terminate their contract without penalty at any time
        during the first month of their subscription. After the first month of a Member’s annual subscription elapses, to
        prevent undesired contract auto-renewals from occurring, a Member status termination request must be made to Social
        Health at least thirty (30) calendar days before a Member’s contract automatically renews, which occurs on the first
        day of the twelfth month of a subscription. If a request for Member status termination is provided in a timely manner
        prior to a contract’s automatic renewal, Member status termination will be effective at the end of the existing
        contractual relationship.
      %p
        No refunds will be provided unless a Member cancels their contract during the first month of their annual subscription
        and they have paid for the entire subscription upfront in one lump sum. Under this specific set of circumstances, the
        remaining balance of the funds will be refunded to a Member.
      %p
        <strong>Disclaimers:</strong> Your access to and use of the Services or any Content are at your own risk. Some Service
        features might not function on all devices. You understand and agree that the Services are provided to you on an “AS IS”
        and “AS AVAILABLE” basis. The “Social Health Entities” refers to Social Health, its parents, related companies, officers,
        directors, employees, agents, representatives, partners, and licensors. Without limiting the foregoing, to the maximum
        extent permitted under applicable law, THE SOCIAL HEALTH ENTITIES DISCLAIM ALL WARRANTIES AND CONDITIONS, WHETHER EXPRESS
        OR IMPLIED, OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. The Social Health Entities make no
        warranty or representation and disclaim all responsibility and liability for: (i) the completeness, accuracy, availability,
        timeliness, security or reliability of the Services or any Content, (ii) any harm to your computer system, loss of data, or
        other harm that results from your access to or use of the Services or any Content, (iii) the deletion of, or the failure to
        store or to transmit, any Content and other communications maintained by the Services, and (iv) whether the Services will
        meet your requirements or be available on an uninterrupted, secure, or error-free basis. No advice or information, whether
        oral or written, obtained from the Social Health Entities or through the Services, will create any warranty or representation
        not expressly made herein.
      %p
        Social Health does not have an ownership interest in any organizations, services, or products linked or referred to in
        the Services. Social Health operates independently from its Members and Affiliates.
      %p
        <strong>Limitation of Liability:</strong> TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, THE SOCIAL HEALTH ENTITIES
        SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF PROFITS OR
        REVENUES, WHETHER INCURRED DIRECTLY OR INDIRECTLY, OR ANY LOSS OF DATA, USE, GOODWILL, OR OTHER INTANGIBLE LOSSES,
        RESULTING FROM (i) YOUR ACCESS TO OR USE OF OR INABILITY TO ACCESS OR USE THE SERVICES, (ii) ANY CONDUCT OR CONTENT OF
        ANY THIRD PARTY ON THE SERVICES, INCLUDING WITHOUT LIMITATION, ANY DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS
        OR THIRD PARTIES, (iii) ANY CONTENT OBTAINED FROM THE SERVICES, OR (iv) UNAUTHORIZED ACCESS, USE OR ALTERATION OF YOUR
        TRANSMISSIONS OR CONTENT. IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE SOCIAL HEALTH ENTITIES EXCEED THE GREATER OF
        ONE HUNDRED U.S. DOLLARS (U.S. $100.00) OR THE AMOUNT YOU PAID SOCIAL HEALTH, IF ANY, IN THE PAST SIX (6) MONTHS FOR THE
        SERVICES GIVING RISE TO THE CLAIM. THE LIMITATIONS OF THIS SUBSECTION SHALL APPLY TO ANY THEORY OF LIABILITY, WHETHER BASED
        ON WARRANTY, CONTRACT, STATUTE, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, AND WHETHER OR NOT THE SOCIAL HEALTH ENTITIES HAVE
        BEEN INFORMED OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS
        ESSENTIAL PURPOSE.
      %p
        <strong>General:</strong> Social Health Online is a stand-alone wellness service that does not include the provision of
        medical care, performs as a voluntary participatory wellness service offered to all people regardless of their health,
        and none of the conditions for obtaining rewards through it require any Users to satisfy a standard related to a particular
        health factor. Additionally, Social Health Online is not part of a group health plan, shall not be packaged with a group
        health plan by Members, and does not collect or use medical data. Therefore, the Services do not fall under the purview
        of the rules associated with the Health Insurance Portability and Accountability Act. However, Social Health has incorporated
        robust safeguards and business practices to ensure full compliance with all applicable laws and regulations.
      %p
        Social Health’s Members and Affiliates must have their principal place of business in the United States.
      %p
        We may revise these Terms from time to time without notice to you. The changes will not be retroactive, and the
        most current version of the Terms will govern our relationship with you. By continuing to access or use the Services
        after revisions become effective, you agree to be bound by the revised Terms.
      %p
        The laws of the State of Alabama, excluding its choice of law provisions, will govern these Terms and any dispute
        that arises between you and Social Health. All disputes related to these Terms or the Services will be brought solely
        in the federal or state courts located in Jefferson County, Alabama, United States, and you consent to personal
        jurisdiction.
      %p
        If you are a federal, state, or local government entity in the United States using the Services in your official capacity
        and legally unable to accept the controlling law, jurisdiction or venue clauses above, then those clauses do not apply
        to you. For such U.S. federal government entities, these Terms and any action related thereto will be governed by the
        laws of the United States of America (without reference to conflict of laws) and, in the absence of federal law and to
        the extent permitted under federal law, the laws of the State of Alabama (excluding choice of law).
      %p
        In the event that any provision of these Terms is held to be invalid or unenforceable, then that provision will be limited
        or eliminated to the minimum extent necessary and the remaining provisions of these Terms will remain in full force and
        effect. Social Health’s failure to enforce any right or provision of these Terms will not be deemed a waiver of such right
        or provision.
      %p
        <strong>Effective:</strong> April 1, 2018
